.album{
	width:90%;
	margin:0px auto;
	overflow:hidden;
}

.album-image-md{
	position:relative;
	/*z-index:500;*/
	margin:0 auto;
	height:760px;
	overflow:hidden;
}

.album-image-bd{
	position:relative;
	/*z-index:1;*/
	margin:0 auto;
	height:760px;
	text-align:center;
	overflow:hidden;
}

.album-image{
	position:absolute;
	/*z-index:600;*/
	top:50%;
	left:50%;
}

.album-image-ft{
	margin:0 auto;
	height:50px;
	line-height:50px;
	text-align:center;
	overflow:hidden;
}

#album-image-ft{
	font-size:12px;
}

.album-image-nav{
	position:absolute;
	/*z-index:600;*/
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	/*height:750px;*/
	overflow:hidden;
}

.album-image-nav-left-block{
	position:relative;
	/*z-index:500;*/
	float:left;
	margin:0;
	width:50%;
	height:750px;
	list-style-type:none;
	overflow:hidden;
}

.album-image-nav-right-block{
	position:relative;
	/*z-index:500;*/
	float:left;
	margin:0;
	width:50%;
	height:750px;
	list-style-type:none;
	overflow:hidden;
}

.album-image-btn-prev:link,.album-image-btn-prev:visited,.album-image-btn-prev:hover{
	position:absolute;
	/*z-index:600;*/
	top:50%;
	left:0;
	margin:-40px 0 0 0;
	width:40px;
	height:80px;
	line-height:60px;
	font-size:100px;
	color:#999;
	background-color:#333;
	opacity: 0.7;
	filter:alpha(opacity=70);
	text-decoration:none;
	text-align:center;
	overflow:hidden;
}

.album-image-btn-next:link,.album-image-btn-next:visited,.album-image-btn-next:hover{
	position:absolute;
	/*z-index:600;*/
	top:50%;
	right:0;
	margin:-40px 0 0 0;
	width:40px;
	height:80px;
	line-height:60px;
	font-size:100px;
	color:#999;
	background-color:#333;
	opacity: 0.7;
	filter:alpha(opacity=70);
	text-decoration:none;
	text-align:center;
	overflow:hidden;
}

.album-image-btn-prev:hover,.album-image-btn-next:hover{
	color:#FFF;
	background-color:#000;
}

.album-image-loading-overlay{
	position:absolute;
	/*z-index:1000;*/
	top:0;
	left:0;
	margin:0;
	width:980px;
	height:750px;
	background-color:#FFF;
	opacity: 0.6;
	filter:alpha(opacity=60);
	overflow:hidden;
}

.album-image-loading-overlay img{
	position:absolute;
	/*z-index:1000;*/
	top:50%;
	left:50%;
	margin:-50px  0 0 -50px;
	width:100px;
	height:100px;
}

.album-carousel{
	position:fixed;
	left:0px;
	bottom:0px;	
	width:100%;
	height:80px;
	overflow:hidden;
	z-index:20000;
}

.album-carousel-btn-prev:link,.album-carousel-btn-prev:visited,.album-carousel-btn-prev:hover{
	float:left;
	margin:0;
	width:50px;
	height:80px;
	line-height:70px;
	text-align:center;
	font-size:80px;
	text-decoration:none;
	color:#999;
	overflow:hidden;
	z-index:2000;
}

.album-carousel-btn-next:link,.album-carousel-btn-next:visited,.album-carousel-btn-next:hover{
	float:right;
	margin:0;
	width:50px;
	height:80px;
	line-height:70px;
	text-align:center;
	font-size:80px;
	text-decoration:none;
	color:#999;
	overflow:hidden;
	z-index:2000;
}

.album-carousel-btn-prev:hover,.album-carousel-btn-next:hover{
	color:#F00;
}

.album-carousel-zone{
	
	position:absolute;	
	left:5%;
	top:0px;
	width:90%;
	height:80px;
	background-color:#FFF;
	overflow:hidden;
	/*z-index:999;*/
}

.album-carousel-list{
	
	position:absolute;
	/*z-index:2;*/
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:1760px;
    height:80px;
	overflow:hidden;
	
}

.album-carousel-thumb{
	position:relative;
	/*z-index:3;*/
	float:left;
	margin:0;
	list-style-type:none;
	width:80px;
	height:80px;
	overflow:hidden;
}

.album-carousel-thumb a:link,.album-carousel-thumb a:visited,.album-carousel-thumb a:hover{
	position:absolute;
	box-sizing:border-box;
	/*z-index:2;*/
	top:0;
	left:0;
	width:80px;
	height:80px;
	text-align:center;
	line-height:80px;
	border:3px solid #FFF;
	overflow:hidden;
}

.album-carousel-thumb-selected a:link,.album-carousel-thumb-selected a:visited,.album-carousel-thumb-selected a:hover,.album-carousel-thumb a:hover{
	border:3px solid #F00;
}

.album-carousel-thumb img{
	/*
	position:absolute;	
	display:block;	
	top:-37px;
	left:-80px;
	width:230px;
	height:144px;
	*/
	max-width:100%;	
	opacity:0.5;
	filter:alpha(opacity=50);
}

.album-carousel-thumb-selected a:link img,.album-carousel-thumb-selected a:visited img,.album-carousel-thumb-selected a:hover img,.album-carousel-thumb a:hover img{
	opacity:1;
	filter:alpha(opacity=100);
}

.album-download:link,.album-download:visited,.album-download:hover{
	position:absolute;
	/*z-index:3;*/
	top:10px;
	right:10px;
	margin:0;
	height:28px;
	line-height:28px;
	font-size:12px;
	padding-left:30px;
	text-decoration:none;
	background:transparent url(../img/button-bg-comments.png) 0 -137px no-repeat;
	overflow:hidden;
}

.album-download:hover{
	background-position: 0 -282px;
	color:#FFF;
}

.album-download span{
	display:block;
	background:transparent url(../img/button-bg-comments.png) 100% -50px;
	padding-right:20px;
}

.album-download:hover span{
	background-position: 100% -456px;
}

.hide{
	display:none;
}

