@charset "utf-8";

/*通用样式*/
*{padding:0; margin:0;}
html,body{width:100%; height:100%;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol, li { list-style-type:none;}
fieldset, img { border: medium none; vertical-align: middle;}
table { border-collapse: collapse; border-spacing: 0;}

a{ text-decoration:none;outline:none;}
input,button,select,textarea{ outline:none}

.l{float:left;}
.r{float:right;}
.clear{ clear:both;}
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.mid-block{width:1200px; margin:0 auto; position:relative;}.mid-block2{width:100% !important;}

body{ min-width:1200px;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size:14px;background-color:#ffffff; color:#959595;}


/*---------*/
.color-fc6664{
	color:#fc6664 !important;
}
.color-52b4ff{
	color:#52b4ff !important;
}
.color-feb129{
	color:#feb129 !important;
}
.color-fd5b4e{
	color:#fd5b4e !important;
}
.color-626262{
	color:#626262 !important;
}
.color-f45051{
	color:#f45051 !important;
}
.color-313131{
	color:#313131 !important;
}


.bgc-f3f3f3{
	background-color:#f3f3f3;
}
.bgc-f5f5f5{
    background-color:#f5f5f5;
}
.bgc-52b4ff{
	background-color:#52b4ff;
}
.bgc-959595{
	background-color:#959595;
}
.bgc-f9f9f9{
    background-color:#f9f9f9;
}
.radius-5{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.radius-8{
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
/*分页*/
.pagination{
	color:#626262;
	font-size:14px;
	text-align:center;
}
.pagination li{
	display:inline-block;
	margin-right:10px;
}
.pagination li a{
	display:inline-block;
	padding:8px 13px;
	color:#626262;
	background-color:#efefef;	
}
.pagination li.active a,.pagination .active:hover a{
	color:#FFF;
	background-color:#fc5353;
}
.pagination #backpage a,.pagination #nextpage a{
	background-color:transparent;
}
.pagination li:hover a{
	color:#fc5353;
}

/*通用样式*/
/*
input::-webkit-input-placeholder { 
color: #FFF; 
} 
input:-moz-placeholder { 
color: #FFF; 
} 
input::-moz-placeholder { 
color: #FFF; 
} 
input:-ms-input-placeholder { 
color: #FFF; 
} 
select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
*/


/*全局阴影遮盖*/
.fix-cover{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:#000;
	filter:alpha(opacity=60);
	opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	z-index:999;
}


