@charset "utf-8";

.my_logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}
.my_nav {
	float: left
}
.my_nav div {
	position: relative
}
.my_nav div a, .my_nav div li a:visited {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	font-size: 16px;
}
.my_nav div:hover a {
	color: #3b3a3a;
}
.my_nav div ul {
	display: none;
}
.my_nav div:hover ul {
	display: block;
	position: absolute;
	top: 28px;
	left: 0;
	width: 90px;
	z-index: 9999;
}
.my_nav div:hover ul li {
	/*margin-bottom:10px;*/
	height: 25px;
	line-height: 25px;
}
.my_nav div:hover ul li a {
	display: block;
	color: #fff;
	/*border:2px solid #fff;
border-radius:20px;*/
	font-size: 14px;
}
.my_nav div:hover ul li a:hover {
	color: #3b3a3a;
}
html, body, div, h1, h2, h3, ul, h4, h5, h6, ol, dl, li, dt, dd, blockquote, pre, form, fieldset, table, th, td, span {
	padding: 0;
	margin: 0;
}
#full-screen-slider {
	width: 100%;
	height: 478px;
	float: left;
	position: relative
}
#slides {
	display: block;
	width: 100%;
	height: 478px;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative
}
#slides li {
	display: block;
	width: 100%;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute
}
#slides li a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px
}
#pagination {
	display: block;
	list-style: none;
	position: absolute;
	top: 450px;
	z-index: 9900;
	padding: 5px 15px 5px 0;
	margin: 0
}
#pagination li {
	display: block;
	list-style: none;
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 15px;
	border-radius: 5px;
	background: #FFF
}
#pagination li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-indent: -9999px;
}
#pagination li.current {
	background: #0092CE
}
th {
	font-weight: normal;
}
* {
	margin: 0;
	padding: 0;
}
input, select {
	font-size: 12px;
	vertical-align: middle;
}
body div {
	text-align: left;
}
textarea, input {
	word-wrap: break-word;
	word-break: break-all;
	padding: 0px;
}
li {
	list-style-type: none;
}
img {
	border: 0 none;
}
a, a:active, a:focus {
	outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0;
}
*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}
html, body {
	min-width: 1200px;
	width: 100%;
	height: 100%;
}
body, input {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #575757;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
	color: #575757;
}
a:visited {
	text-decoration: none;
	color: #575757;
}
a:active {
	text-decoration: none;
	color: #575757;
}
.clear {
	clear: both;
}
#top {
	position: relative;
	width: 100%;
	height: 100%;/*height:771px;*/
	margin-top: 0px;
	overflow: hidden;
	max-height: 1080px;
}
#top.fixed {
	position: fixed;
	left: 0px;
	top: -330px;
}
.slideTop-box {
	position: absolute;
	width: 100%;
	min-width: 1200px;
	/*height:771px;*/
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.slideTop {
	display: none;
	position: absolute;
	width: 100%;
	/*height:771px;*/
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	cursor: pointer;
}
#top .zhengti {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	z-index: 9;
}
#top .zhengti .daohang { /*width:500px;*/
	float: right;
	margin-top: 40px;
}
#top .zhengti .daohang li {
	width: 90px;
	float: left;
	font-size: 16px;
	text-align: center;
	height: 28px;
	line-height: 28px;
}
#top .zhengti .daohang font {
	width: 5px;
	float: left;
	text-align: center;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 5px;
}
#top .zhengti .daohang li a {
	color: #FFFFFF;
}
#top .zhengti .daohang li a:hover {
	color: #3b3a3a;
}
#top .zhengti .daohang li a.yj {
	padding-left: 8px;
	padding-right: 8px;
	width: 40px;
	height: 28px;
	line-height: 28px;
	border: 2px solid #fff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	display: block;
	margin-left: 8px;
}
#top .zhengti .daohang li a.yj:hover {
	color: #3b3a3a;
	border: 2px solid #3b3a3a;
}
#top .zhengti .daohang li.wd {
	width: 50px;
	margin-left: 5px;
	text-align: center;
}
#top .sousuo {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 205px;
}
#top .sousuo ul.sel1 {
	width: 596px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/ershouche_14.png);
	height: 46px;
	line-height: 46px;
}
#top .sousuo ul li {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
#top .sousuo ul li .sel2 {
	-webkit-appearance: none;
	border: none;
	outline: medium;
	width: 542px;
	height: 27px;
	line-height: 27px;
	float: left;
	color: #333;
	margin-top: 10px;
	BACKGROUND-COLOR: transparent;
	text-align: center;
	font-size: 15px;
	float: left;
}
#top .sousuo ul li font {
	width: 18px;
	float: left;
	text-align: right;
	display: block;
}
#top .sousuo ul li font .button {
	width: 18px;
	height: 18px;
	float: left;
	border: none;
	background-image: url(../images/ershouche_12.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	BACKGROUND-COLOR: transparent;
	margin-top: 15px;
	cursor: pointer;
}
#top .sousuo ul span {
	width: 596px;
	float: left;
	text-align: center;
	display: block;
	margin-top: 10px;
}
#top .sousuo ul span a {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}
#tp{
	width:100%; position:absolute; top:0;z-index: 777; left:0;
}
.sousuo {
	margin-left: auto;
	margin-right: auto;
	padding-top:0;width:100%;
}
.sousuo .prevT{
	position:absolute;z-index: 779; left:20px; top:306px;
}
.sousuo .nextT{
	position:absolute;z-index: 779; right:20px; top:306px;
}

.sousuo ul.sel1 {
	width: 596px;
	background-image: url(../images/ershouche_14.png);
	height: 46px;
	line-height: 46px;
	
	position:absolute; left:0; right:0;margin:206px auto 0 auto; display:block
}
.sousuo ul li {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.sousuo ul li .sel2 {
	-webkit-appearance: none;
	border: none;
	outline: medium;
	width: 542px;
	height: 27px;
	line-height: 27px;
	float: left;
	color: #333;
	margin-top: 10px;
	BACKGROUND-COLOR: transparent;
	text-align: center;
	font-size: 15px;
	float: left;
}
.sousuo ul li font {
	width: 18px;
	float: left;
	text-align: right;
	display: block;
}
.sousuo ul li font .button {
	width: 18px;
	height: 18px;
	float: left;
	border: none;
	background-image: url(../images/ershouche_12.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	BACKGROUND-COLOR: transparent;
	margin-top: 15px;
	cursor: pointer;
}
.sousuo ul span {
	width: 596px;
	float: left;
	text-align: center;
	display: block;
	margin-top: 10px;
}
.sousuo ul span a {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}
#zuoyoutu {
	width: 100%;
	float: left;
	background-image: url(../images/ershouche_2.jpg);
	height: 613px;
}
#zuoyoutu .jiantou {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#zuoyoutu .jiantou span {
	width: 590px;
	float: left;
	display: block;
	text-align: right;
}
#zuoyoutu .jiantou span.youb {
	width: 590px;
	float: right;
	display: block;
	text-align: left;
}
#zuoyoutu .jiantou li {
	width: 570px;
	float: left;
	text-align: right;
	margin-top: 60px;
}
#zuoyoutu .jiantou li.tuyou {
	width: 570px;
	float: right;
	text-align: left;
	margin-top: 60px;
}
#zuoyoutu font {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 593px;
	display: block;
	text-align: center;
}
.zzsc {
	box-sizing: border-box;
	position: relative;
	width: 368px;
	height: 368px;
	margin-left: 180px;
	border-radius: 184px;
	-webkit-border-radius: 184px;
	-moz-border-radius: 184px;
}
.zzsc-inner {
	position: absolute;
	width: 292px;
	height: 292px;
	left: 50%;
	top: 50%;
	margin-left: -146px;
	margin-top: -146px;
}
.zzsc-xu {
	position: absolute;
	width: 320px;
	height: 320px;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -160px;
	transition: transform 2s linear;
	-webkit-transition: -webkit-transform 2s linear;
	-moz-transition: transform 2s linear;
}
.zzsc:hover .zzsc-xu {
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
}
.loader {
	width: 368px;
	height: 368px;
	border-radius: 184px;
	-moz-border-radius: 184px;
	-webkit-border-radius: 184px;
}
#youshi {
	width: 100%;
	float: left;
	height: 440px;
	background-image: url(../images/ershouche_8.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 10px;
}
#youshi .youshiweizi {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/ershouche_9.jpg);
	height: 440px;
	background-repeat: no-repeat;
	background-position: right;
}
#youshi .youshiweizi .ztdx {
	width: 1200px;
	display: block;
	text-align: center;
	font-size: 40px;
	font-family: "方正博雅方刊宋_gbk", Arial, Helvetica, sans-serif;
	padding-top: 30px;
}
#youshi .youshiweizi .ztdx1 {
	width: 1200px;
	display: block;
	text-align: center;
	font-family: "方正兰亭细黑_GBK ", Arial, Helvetica, sans-serif;
	margin-top: 5px;
	color: #999999;
}
#youshi .youshiweizi .ztdx1 img {
	margin-top: 20px;
}
#youshi .youshiweizi .zuotu {
	width: 56px;
	float: left;
	margin-top: 100px;
	margin-right: 20px;
}
#youshi .youshiweizi .youweizi {
	width: 400px;
	float: left;
	margin-top: 100px;
	color: #FFFFFF;
}
#youshi .youshiweizi .youweizi h1 {
	width: 300px;
	float: left;
	font-size: 23px;
}
#youshi .youshiweizi .youweizi h1.ywei {
	width: 300px;
	float: left;
	font-family: "Futura Md BT", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: inherit;
}
#youshi .youshiweizi .youweizi h1.ywei2 {
	width: 400px;
	float: left;
	font-size: 13px;
	font-weight: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
}
#moshi {
	width: 100%;
	background-color: #373737;
	height: 602px;
}
#moshi .moshiwd {
	width: 1200px;
	height: 427px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/ershouche_6.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	color: #FFFFFF;
}
#moshi .moshiwd .youweizi {
	width: 650px;
	float: right;
	margin-top: 30px;
}
#moshi .moshiwd .youweizi h1 {
	width: 650px;
	float: left;
	font-size: 23px;
}
#moshi .moshiwd .youweizi font.ywei {
	width: 650px;
	float: left;
	font-family: "Futura Md BT", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#moshi .moshiwd .youweizi font.ywei2 {
	width: 400px;
	float: left;
	font-size: 13px;
	margin-top: 10px;
	color: #CCCCCC;
}
#moshi .moshiwd .zuoweizi {
	width: 650px;
	float: left;
	margin-top: 90px;
	text-align: right;
}
#moshi .moshiwd .zuoweizi h1 {
	width: 650px;
	float: left;
	font-size: 23px;
}
#moshi .moshiwd .zuoweizi font.ywei {
	width: 650px;
	float: left;
	font-family: "Futura Md BT", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#moshi .moshiwd .zuoweizi font.ywei2 {
	width: 400px;
	float: right;
	font-size: 13px;
	margin-top: 10px;
	text-align: left;
	color: #CCCCCC;
}
#fuceng {
	position: absolute;
	left: 0px;
	top: -460px;
	width: 100%;
	height: 53px;
	z-index: 10;
}
#fuceng .fuwu {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	height: 520px;
}
#fuceng .fuwu .fuwuzt {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}
#fuceng .fuwu .fuwuzt font {
	width: 800px;
	float: left;
	display: block;
	font-size: 40px;
	text-align: center;
	font-family: "方正博雅方刊宋_gbk", Arial, Helvetica, sans-serif;
}
#fuceng .fuwu .fuwuzt span {
	width: 800px;
	float: left;
	display: block;
	text-align: center;
	color: #999999;
}
#fuceng .fuwu .tubi {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-top: 70px;
}
#fuceng .fuwu .tubi li {
	width: 240px;
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}
#fuceng .fuwu .tubi li span {
	width: 145px;
	float: left;
	text-align: center;
	font-size: 15px;
	margin-left: 60px;
	margin-right: 60px;
}
#fuceng .fuwu .tubi li span img {
	margin-bottom: 10px;
}
#fuceng .fuwu .tubi li font {
	width: 240px;
	float: left;
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 12px;
	color: #999999;
	line-height: 22px;
}
#fenlei {
	width: 100%;
	background-color: #3c3c3c;
}
#fenlei .fenleizj {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}
#fenlei .fenleizj .fenleizuo {
	width: 670px;
	float: left;
}
#fenlei .fenleizj .fenleizuo li {
	width: 182px;
	float: left;
	margin-bottom: 30px;
}
#fenlei .fenleizj .fenleizuo li.wubk {
	width: 120px;
}
#fenlei .fenleizj .fenleizuo li a {
	width: 110px;
	display: block;
	color: #CCCCCC;
	height: 35px;
	line-height: 35px;
}
#fenlei .fenleizj .fenleizuo li a.ztys {
	color: #FFFFFF;
}
#fenlei .fenleizj .fenleiyou {
	width: 220px;
	float: right;
	color: #CCCCCC;
}
#fenlei .fenleizj .fenleiyou li {
	height: 36px;
	line-height: 36px;
}
#fenlei .fenleizj .fenleiyou li.tel {
	font-size: 28px;
	color: #FFFFFF;
}
#bom {
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
#feedback {
	position: relative;
	width: 100%;
	height: 694px;
	margin-top: 400px;
}
.slide-main {
	height: 694px;
	position: relative;
}
.prev, .next, .prevT, .nextT {
	display: block;
	width: 44px;
	height: 44px;
	position: absolute;
	z-index: 222;
	top: 267px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
	_border: 1px solid none;
}
.prev, .prevT {
	left: 70px;
}
.next, .nextT {
	right: 70px;
}
.prev:hover, .next:hover, .nav-main a:hover, .nav-main a.cur {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.item, .itemT {
	display: block;
	width: 100%;
	height: 5px;
	position: absolute;
	z-index: 124;/*top:660px;*/
	bottom: 80px;
	left: 0;
	text-align: center;
}
.item a, .itemT li {
	display: inline-block;
	width: 24px;
	height: 5px;
	margin-right: 11px;
	background: #333;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
	overflow: hidden;
	cursor: pointer;
}
.item a.cur, .itemT li.on {
	background: #fff;
}
.slide-box, .slide {
	display: block;
	width: 100%;
	height: 694px;
	overflow: hidden;
}
.slide-box {
	position: relative;
}
.slide {
	display: none;
	height: 694px;
	padding-top: 89px;
	background: #ff6900;
	position: relative;
	position: absolute;
	z-index: 8;
}
#bgstylea {
	background-image: url(../images/ershouche_3_1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
#bgstyleb {
	background-image: url(../images/ershouche_3_2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
#bgstylec {
	background-image: url(../images/ershouche_3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.fuh {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}
.fuh font {
	width: 950px;
	float: left;
	text-align: center;
	display: block;
	font-size: 150px;
	font-family: "方正粗谭黑简体", Arial, Helvetica, sans-serif;
	color: #222f40;
	height: 100px;
	margin-left: 45px;
}
.fuh ul {
	width: 950px;
	display: block;
	float: left;
	text-align: center;
	background-image: url(../images/ershouche_13.png);
	background-repeat: no-repeat;
	background-position: bottom;
	font-size: 150px;
	font-family: "032-CAI978", Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-bottom: 30px;
}
.fuh ul li {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	color: #222f40;
	height: 28px;
	line-height: 28px;
	text-align: center;
	display: block;
}
.fuh span {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100px;
	text-align: center;
	color: #000000;
	font-size: 150px;
	font-family: "华文细黑", Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.fuh span img {
	margin-bottom: 10px;
}
.slide a {
	display: block;
	width: 100%;
	height: 490px;
	cursor: pointer;
}
.obj-a, .obj-b, .obj-c, .obj-d, .obj-e, .obj-f {
	position: absolute;
	z-index: 9;
	left: 50%;
}
.obj-a, .obj-b {
	width: 952px;
	margin-left: -476px;
	text-align: center;
}
.obj-a {
	display: block;
	height: 352px;
	top: 100px;
}
.obj-b {
	top: 406px;
	height: 100px;
}
.obj-c {
	display: block;
	height: 582px;
	top: 0;
	margin-left: -540px;
}
.obj-d {
	top: 228px;
	height: 164px;
}
.obj-d p {
	display: block;
	padding-top: 20px;
	font-size: 16px;
	color: #fff;
	clear: both;
}
.obj-e {
	width: 366px;
	height: 170px;
	margin-left: -460px;
	top: 223px;
	z-index: 12;
}
.obj-f {
	width: 692px;
	height: 394px;
	top: 158px;
	margin-left: -180px;
}
.banAnimate .obj-a {
	display: block;
	animation-name: baoAni;
	-webkit-animation: baoAni 0.4s linear 0s normal none;
	-moz-animation: baoAni 0.4s linear 0s normal none;
	animation: baoAni 0.4s linear 0s normal none;
}
@-webkit-keyframes baoAni {
from {
opacity:0;
left:60%;
}
to {
	opacity: 1;
	left: 50%;
}
@-moz-keyframes baoAni {
from {
opacity:0;
left:60%;
}
to {
	opacity: 1;
	left: 50%;
}
@keyframes baoAni {
from {
opacity:0;
left:60%;
}
to {
	opacity: 1;
	left: 50%;
}
.banAnimate .obj-b {
	display: block;
	animation-name: saAni;
	-webkit-animation: saAni 0.4s linear 0s normal none;
	-moz-animation: saAni 0.4s linear 0s normal none;
	animation: saAni 0.4s linear 0s normal none;
}
@-webkit-keyframes saAni {
from {
opacity:0;
-webkit-transform:scale(0, 0);
}
to {
	opacity: 1;
	-webkit-transform: scale(1, 1);
}
@-moz-keyframes saAni {
from {
opacity:0;
-moz-transform:scale(0, 0);
}
to {
	opacity: 1;
	-moz-transform: scale(1, 1);
}
@keyframes saAni {
from {
opacity:0;
transform:scale(0, 0);
}
to {
	opacity: 1;
	transform: scale(1, 1);
}
.watch-code.code-show {
	display: block;
	animation-name: scode;
	-webkit-animation: scode 0.3s linear 0s normal none;
	-moz-animation: scode 0.3s linear 0s normal none;
	animation: scode 0.3s linear 0s normal none;
}
@-webkit-keyframes scode {
from {
opacity:0;
-webkit-transform:scale(1, 0);
transform-origin:left bottom;
}
to {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform-origin: left bottom;
}
@-moz-keyframes scode {
from {
opacity:0;
-moz-transform:scale(1, 0);
transform-origin:left bottom;
}
to {
	opacity: 1;
	-moz-transform: scale(1, 1);
	transform-origin: bottom bottom;
}
@keyframes scode {
from {
opacity:0;
transform:scale(1, 0);
transform-origin:left bottom;
}
to {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: left bottom;
}
.banAnimate .obj-c, .banAnimate .obj-e {
	display: block;
	animation-name: saAnic;
	-webkit-animation: saAnic 0.3s linear 0s normal none;
	-moz-animation: saAnic 0.3s linear 0s normal none;
	animation: saAnic 0.3s linear 0s normal none;
}
@-webkit-keyframes saAnic {
from {
opacity:0;
left:47%;
}
to {
	opacity: 1;
	left: 50%;
}
@-moz-keyframes saAnic {
from {
opacity:0;
left:47%;
}
to {
	opacity: 1;
	left: 50%;
}
@keyframes saAnic {
from {
opacity:0;
left:47%;
}
to {
	opacity: 1;
	left: 50%;
}
.banAnimate .obj-d, .banAnimate .obj-f {
	display: block;
	animation-name: saAnid;
	-webkit-animation: saAnid 0.3s linear 0s normal none;
	-moz-animation: saAnid 0.3s linear 0s normal none;
	animation: saAnid 0.3s linear 0s normal none;
}
@-webkit-keyframes saAnid {
from {
opacity:0;
left:53%;
}
to {
	opacity: 1;
	left: 50%;
}
@-moz-keyframes saAnid {
from {
opacity:0;
left:53%;
}
to {
	opacity: 1;
	left: 50%;
}
@keyframes saAnid {
from {
opacity:0;
left:53%;
}
to {
	opacity: 1;
	left: 50%;
}
