@charset "utf-8";
.cs-text-white{
    color: #fff;
}
.select .option{
    max-height: 350px;
    overflow: scroll;
}
html, body {
    min-width: auto;
}
.slideTop-box {
    min-width: auto;
}
#top .zhengti{
    width: auto;
    margin-right: 100px;
}
.slide .fuh ul li,.fuh font,.fuh span{
    color: #fff;
}

.option dd a {
    display: block;
}

.bxq-ldpz-lsin .btm-tt {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bxq-ld-in-ls li {
    width: 20%;
}
.bxq-car-zb .imb .split {
    top:37px;
    bottom: auto;
}