@charset "utf-8";

/* select */
.select{ 
	/*float:left;*/
	width:169px;	
	position:relative;
	border:1px solid #cfd1d8;
	color:#414141;
	font-size:16px;
	line-height:40px;
	text-indent:10px;

    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
} 
.select dt{	
	background-image:url(../images/dp-ico-1-g.png);	
	background-repeat:no-repeat;
	background-position:92% center;
	cursor:pointer;
} 
.option{
	top:42px;
	width:99%;
	position:absolute;
	line-height:32px;
	background-color:#fff;
	border:1px solid #aaa;
	display:none;
	z-index:100;
}
.select .option dd{ cursor:pointer;}
.option dd:hover{
	background-color:#C0C0C0;		
}