/* 本例子css */
.slideBox{ width:100%; /*height:543px;*/ height:60px; overflow:hidden; position:relative;}
/*
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
*/
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ position:relative;zoom:1; vertical-align:middle;}
.slideBox .bd img{ display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; display:block; width:42px; height:43px; top:50%; margin-top:-21.5px; filter:alpha(opacity=60);opacity:0.6;}
.slideBox .prev{
	left:-18px;
	background:url(../images/prev-ico-s1.png) no-repeat center center;
}
.slideBox .next{ 
	left:auto; 
	right:-18px;
	background:url(../images/next-ico-s1.png) no-repeat center center;
}
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }

/*picFocus*/
/*.picFocus{ width:1200px; position:relative;  overflow:hidden;  zoom:1;   }*/
.picFocus{ width:100%; position:relative;  overflow:hidden;  zoom:1;   }
.picFocus .bd li{ vertical-align:middle; }
/*.picFocus .bd img{ width:100%; height:632px; display:block;  }*/.picFocus .bd img{ width:100%; display:block;  }
.picFocus .hd{ width:100%; padding-top:5px;  overflow:hidden; }
.picFocus .hd ul{ margin-right:-1px;  overflow:hidden; zoom:1; }
.picFocus .hd ul li{ float:left;  text-align:center;  }
.picFocus .hd ul li img{ width:130px; height:63px; border:1px solid #f0f1f1;cursor:pointer; margin-right:1px;   }
.picFocus .hd ul li.on img{ border-color:#f60;  }

/*picScroll-left*/
.picScroll-left{ width:1200px;  overflow:hidden; position:relative;}
.picScroll-left .bd{}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 3px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; position: relative;}
.picScroll-left .bd ul li .pic a{display:block; position: relative;}
.picScroll-left .bd ul li .pic img{ width:396px; height:274px; display:block; border:1px solid #ccc; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{
    position: absolute;
    width: 100%;
    height: 46px;
    line-height: 46px;
    left:0px;
    bottom:0px;
    color:#FFF;
    font-size: 18px;
    white-space: nowrap;
    background: rgba(0,0,0,0.6);
}
.picScroll-left .hd{ overflow:hidden; height:30px; margin-top: 12px;}
.picScroll-left .hd ul{overflow:hidden; zoom:1;display: table;margin: 0px auto;}
.picScroll-left .hd ul li{ float:left;  width:14px; height:14px; overflow:hidden; margin-right:5px; margin-top: 8px; text-indent:-999px; cursor:pointer; border-radius: 50%; background-color: #f8f8f8;border: 1px solid #281e17;}
.picScroll-left .hd ul li.on{ background-color:#281e17;}
