@charset "utf-8";
/*头部样式*/
#top .zhengti{ position:relative; width:1200px; height:auto; margin-left:auto; margin-right:auto; z-index:9;}
.daohang{ /*width:500px;*/ float:right; margin-top:40px;}
.daohang li{ width:90px; float:left; font-size:16px; text-align:center; height:28px;line-height:28px;}
.daohang font{ width:5px; float:left; text-align:center; color:#FFFFFF; margin-top:5px; margin-left:5px;}
.daohang li a{ color:#FFFFFF;}
.daohang li a:hover{color:#0CF;}
.daohang li a.yj{ padding-left:8px; padding-right:8px; width:40px; height:28px; line-height:28px;  border: 2px solid #fff;   -moz-border-radius: 20px;  -webkit-border-radius: 20px;  border-radius:20px; display:block; margin-left:8px;}
.daohang li a.yj:hover{ color:#0CF; border: 2px solid #0CF;}
.daohang li.wd{ width:50px; margin-left:5px; text-align:center;}

#top .sousuo{width:1200px; margin-left:auto; margin-right:auto; padding-top:205px;}
#top .sousuo ul.sel1{ width:596px;  margin-left:auto; margin-right:auto;  background-image:url(../images/ershouche_14.png); height:46px; line-height:46px;}
#top .sousuo ul li{ width:560px; margin-left:auto; margin-right:auto;float:left; }
#top .sousuo ul li .sel2{-webkit-appearance: none;	border:none;outline:medium;width:542px;height:27px;line-height:27px;float:left; color:#333; margin-top:10px; BACKGROUND-COLOR: transparent; text-align:center; font-size:15px; float:left;}
#top .sousuo ul li font{ width:18px; float:left; text-align:right; display:block;}
#top .sousuo ul li font .button{width:18px;height:18px;float:left;border:none;background-image:url(../images/ershouche_12.png) ;display:block;
	background-repeat: no-repeat;background-position: center center;BACKGROUND-COLOR: transparent;margin-top:15px;cursor:pointer;}
#top .sousuo ul span{width:596px; float:left; text-align:center; display:block; margin-top:10px;}
#top .sousuo ul span a{ margin-left:10px; margin-right:10px; color:#FFFFFF;}

/*底部*/
#fenlei{ width:100%; background-color:#3c3c3c;}
#fenlei .fenleizj{ width:930px;margin-left:auto;margin-right:auto; padding-top:30px; }
#fenlei .fenleizj .fenleizuo{ width:670px; float:left; }
#fenlei .fenleizj .fenleizuo li{width:182px; float:left; margin-bottom:30px; }
#fenlei .fenleizj .fenleizuo li.wubk{ width:120px;}
#fenlei .fenleizj .fenleizuo li a{ width:110px;  display:block; color:#CCCCCC; height:35px; line-height:35px;}
#fenlei .fenleizj .fenleizuo li a.ztys{ color:#FFFFFF;} 
#fenlei .fenleizj .fenleiyou{ width:220px; float:right; color:#CCCCCC;}
#fenlei .fenleizj .fenleiyou li{ height:36px; line-height:36px;}
#fenlei .fenleizj .fenleiyou li.tel{ font-size:28px; color:#FFFFFF;}


#bom{ width:100%; text-align:center; height:60px; line-height:60px;}