/* Ion.RangeSlider, Nice Skin
// css version 1.9.2
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/*
.irs {
    height: 40px;
}
*/
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 23px; /*top: 25px;*/top:0px;	
	background-color:#f0f0f0;
		
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
    .irs-line-left {
        height: 23px;		     
    }
    .irs-line-mid {
        height: 23px;
		background-color:#f0f0f0;     
    }
    .irs-line-right {
        height: 23px;              
    }

.irs-diapason {
    height: 23px; top:0px;
	background-color:#575757;    
}

.irs-slider {
    width: 52px; height: 21px;
    top: 0px;
	background-color:#FFF;
	border:1px solid #f0f0f0;
	cursor:pointer;
	border-radius:15px;	 	         	
}

.irs-min, .irs-max {
    color: #575757;
    font-size: 16px; line-height: 1.333;
    text-shadow: none;
    top: 28px; 
	padding: 1px 3px;        
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
	top:28px;
    color: #575757;
    font-size: 16px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;    
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-disabled {
}
