@charset "utf-8";


#tp{
	width:100%; position:absolute; top:0;z-index: 777; left:0;
}
.sousuo {
	margin-left: auto;
	margin-right: auto;
	padding-top:0;width:100%;
}
.sousuo .prevT{
	position:absolute;z-index: 779; left:20px; top:306px;
}
.sousuo .nextT{
	position:absolute;z-index: 779; right:20px; top:306px;
}

.sousuo ul.sel1 {
	width: 596px;
	background-image: url(../images/ershouche_14.png);
	height: 46px;
	line-height: 46px;
	
	position:absolute; left:0; right:0;margin:206px auto 0 auto; display:block
}
.sousuo ul li {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.sousuo ul li .sel2 {
	-webkit-appearance: none;
	border: none;
	outline: medium;
	width: 542px;
	height: 27px;
	line-height: 27px;
	float: left;
	color: #333;
	margin-top: 10px;
	BACKGROUND-COLOR: transparent;
	text-align: center;
	font-size: 15px;
	float: left;
}
.sousuo ul li font {
	width: 18px;
	float: left;
	text-align: right;
	display: block;
}
.sousuo ul li font .button {
	width: 18px;
	height: 18px;
	float: left;
	border: none;
	background-image: url(../images/ershouche_12.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	BACKGROUND-COLOR: transparent;
	margin-top: 15px;
	cursor: pointer;
}
.sousuo ul span {
	width: 596px;
	float: left;
	text-align: center;
	display: block;
	margin-top: 10px;
}
.sousuo ul span a {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}


/*buy2*/
.buy-t2#top .sousuo{
	position:absolute;
	/*bottom:40px;*/
}

.ng-scope{ padding-bottom:25px;}
.drop-row{ padding-left:160px; padding-top:36px; padding-bottom:36px;}
.drop-row .select{
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	text-indent:35px;
}
.drop-row .select dt{ background-position:85% center;}
.drop-row > .spl{
	line-height:26px;
	margin:0 10px;
	color:#727272;
	font-size:26px;
}
.lc-row > .colum{
	box-sizing:border-box;
	width:50%;
	float:left;
	color:#575757;
	padding-left:16px;	
}
.lcrow-tip{
	margin-right:40px;	
}

.car-tpf-row{
	margin-top:40px;
	padding-bottom:34px;
}
.car-tpf-row .colum{
	width:50%;
	float:left;
}
.dr-fea-box{
	width:526px;
	box-sizing:border-box;
	/*height:148px;*/
	padding:28px 0px 12px 6px;
	border:1px solid #d9d9d9;
	
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
}
/*
.dr-fea-item{
	padding:8px 0;
}
*/
.dr-fea-item > span{
	float:left;
	line-height:30px;	
	color:#575757;
	font-size:16px;
}
.dr-fea-item .list{
	/*float:left;*/
	margin-left:120px;
	color:#737476;
	font-size:16px;
}
.dr-fea-item .list a{
	display:inline-block;
	padding:3px 16px;
	color:#737476;
	margin-right:14px;
	margin-bottom:16px;
	border:1px solid #c2c2c2;
	
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.dr-fea-item .list a.active{
	color:#FFF;
	background-color:#1c6cd2;
	border:none;
}

.dr-fea-item .color-ls{ margin-left:135px;}
.dr-fea-item .color-ls a{
	float:left;
	display:block;
	width:30px;
	height:30px;
	margin-right:5px;
	margin-bottom:16px;
	text-align:center;
	line-height:30px;
	color:#000000;
	font-size:11.21px;
	border:1px solid #cccccc;
	
	border-radius:16px;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
}
.fea-ils .list{ margin-left:100px;}
.fea-ils .list a{
	margin-right:3px;
}
#fea.dr-fea-box{width:585px;}
.dr-fea-item .list a:hover{
	border:1px solid #1c6cd2;
}
.dr-fea-item .list a.active:hover{ border:none;}
.dr-fea-item .color-ls a:hover{ filter:alpha(opacity=80);opacity:0.8; -moz-opacity:0.8; -webkit-opacity:0.8;}


.parameters{ padding:8px 0;}

.advanced-box{ text-align:center;}
.advanced-tip{
	margin-right:20px;	
	color:#737476;
	font-size:15px;
	cursor:pointer;
}
.advanced-tip i,.advanced-tip span{ vertical-align:middle;}
.advanced-tip .i-1{
	display:inline-block;
	width:18px;
	height:18px;
	background:url(../images/sea-ico-g.png) no-repeat center center;
}
.advanced-tip .i-2{
	display:inline-block;
	width:10px;
	height:6px;
	background:url(../images/dp-ico-1-g.png) no-repeat center center;
}
.advanced-tip .txt{
	margin:0 6px;
}
.advanced-tip.active{
	color:#1c6cd2;
}
.advanced-tip.active .i-1{
	background:url(../images/sea-ico.png) no-repeat center center;
}
.advanced-tip.active .i-2{
	background:url(../images/dp-ico-2.png) no-repeat center center;
}
.advanced-box .select{
	display:inline-block;
	width:136px;
	text-align:left;
	line-height:28px;
	color:#1c6cd2;
	font-size:15px;
	text-indent:6px;
	border:1px solid #1c6cd2;
	
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.advanced-box .select dt{
	background-image:url(../images/dp-ico-2.png);
}
.advanced-box .option{border:1px solid #1c6cd2; top:30px;border-radius:6px;-webkit-border-radius:6px;
-moz-border-radius:6px; color:#575757;}

.buy-car-picB{
	width:100%;
	height:473px;
}
.buy-car-picB .L{ float:left;}
.buy-car-picB .R{ float:right;}
.buy-car-picB .L .dv{
	display:block;
	position:relative;
	height:236.5px;	
}
.buy-car-picB .L .dv2 img{
	position:absolute;
	bottom:0;
	left:0;
}
.buy-car-txt{
	margin-top:10px;
	padding:20px 14px;
	color:#FFF;
	background-color:#b2b2b2;
	
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.buy-car-txt .t1{
	font-size:18px;
	margin-bottom:2px;
}
.buy-car-txt .t2{
	font-size:13px;
}
.buy-car-txt .t2 .dot{
	position:relative;
	display:inline-block;
	padding:0 6px;
	top:-3px;
}
.buy-car-mon{
	font-size:20px;
	padding-right:36px;
	background:url(../images/cart-ico-s1.png) no-repeat right center;
}
.buy-car-mon .tip{ margin-right:12px;}
.buy-car-list li{
	margin-bottom:52px;
}
.buy-car-show .pagination{
	padding:6px 0 58px;
}
.range-bar{
	width:413px;
}
/*登录页*/
.login-mbox{
	position:relative;
	/*height:754px;*/
	width:100%;
	height:100%;
	min-width:1200px;
	overflow:hidden;
	zoom:1;
	background:#807f7d url(../images/login-bg.jpg) repeat center top;
}
.login-mbox .mid-block{
	position:absolute;
	width:1200px;
	height:754px;	
	left:50%;
	top:50%;
	margin-left:-600px;
	margin-top:-377px;
}
.login-picL{
	position:absolute;
	width:824px;
	height:312px;
	left:0;
	top:50%;
	margin-top:-156px;
	z-index:9;
}
.login-frb{
	/*
	position:relative;
	margin-top:56px;
	*/
	position:absolute;
	width:411px;	
	right:0;
	top:50%;
	/*margin-top:-272px;*/
	margin-top:-325px;		
	z-index:99;
}
.login-frb .logo{padding:16px 0;}
.login-fr-inB{ overflow:hidden;}
.login-fr-inB .tpB{
	padding:0 32px;
	background-color:#FFF;
}
.login-fr-in{ padding-bottom:35px;}
.login-fr-in .top{
	padding:24px 0 36px;
}
.login-fr-in .top .t{
	color:#3f3f3f;
	font-size:25px;
	font-weight:normal;
}
.login-fr-in .top .txt{
	color:#b7b7b7;
	font-size:12px;
}
.login-fr-in .item{
	padding:10px 0;
}
.login-inp{
	width:341px;
	height:48px;
	color:#b0b0b0;
	font-size:15px;
	background-color:#f6f5f5;
	text-indent:12px;
	border:1px solid #e8e8e8;
}
.login-sub,.lreg-btn{
	width:343px;
	height:46px;
	text-align:center;
	line-height:46px;
	color:#FFF;
	font-size:18px;
	white-space:nowrap;
	background-color:#1c6cd2;
	overflow:hidden;
	border:none;
	cursor:pointer;
}
.fw-s-1{
	color:#343434;
	font-size:12px;
}
.login-qes{
	color:#adadad;
	font-size:12px;
}
.online-kf{ color:#343434; text-decoration:underline; margin-left:5px;}
.login-fr-inB .btm-B{
	position:relative;
	padding-left:32px;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#f3f3f3;
}
.login-spl{
	position:absolute;
	width:411px;
	height:10px;
	left:0;
	top:-5px;
	background:url(../images/login-spl-ico.png) no-repeat center center;
}
.lreg-btn{ display:block;}
/*注册页*/
.reg-tbox{	
	line-height:78px;
	padding:20px 0 0px;
	border-bottom:3px solid #0099e0;
}
.reg-tbox .L-1{	
	height:78px;	
}
.reg-tbox .L-1 img{ padding-top:12px;}
.reg-tbox .L-2{
	margin-left:32px;
	padding-left:25px;
	color:#b3b3b3;
	font-size:28px;
	border-left:1px solid #e2e2e2;
}
.reg-mbox{ padding-bottom:54px;}
.reg-mL{
	float:left;
	padding-left:70px;
	padding-top:15px;
}
.reg-mL .item{
	padding:16px 0;
}
.reg-mL .item .itip{
	float:left;
	width:150px;
	height:38px;
	margin-right:12px;
	line-height:38px;	
	text-align:right;
}
.reg-L-ct{
	width:295px;
	/*margin-left:12px;*/
}
.reg-L-ct .citm{ width:33%;}
.reg-inp-s1{
	width:293px;
	height:36px;
	color:#d7d7d7;
	font-size:15px;
	text-indent:10px;
	border:1px solid #bdbdbd;
}
.reg-inp-s1.red{
	border:1px solid #f03b3b;
}
.reg-l-tip{
	margin-left:20px;
	line-height:38px;
	color:#f03b3b;
	font-size:13px;
}
.reg-l-tip .tp{
	padding-left:20px;
	background-image:url(../images/reg-ico-1.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.reg-l-tip.s2{ color:#bfbfbf;}
.reg-l-tip.s2 .tp{
	background-image:url(../images/reg-ico-2.png);
}
.reg-L-ct .select{	
	width:82px;	
	padding-right:10px;	
	line-height:36px;
	color:#575757;
	font-size:15px;
	text-indent:16px;
	border:1px solid #bdbdbd;
}
.reg-L-ct .select dt{
	background-image:url(../images/dp_ico_s3.png);
	background-position:100% 50%;	
}
.reg-L-ct .btm{
	color:#959595;
	font-size:13px;
	line-height:36px;
}
.reg-L-ct .yx-c{
	color:#53b95b;
}
.reg-code-is1{
	width:113px;
	height:36px;
	text-indent:8px;
	border:1px solid #bdbdbd;
}
.reg-cd-pic{
	width:106px;
	height:38px;
	margin:0 10px 0 4px;
}
.reg-cd-c{
	line-height:38px;
	color:#7aabee;
	font-size:13px;
}
.reg-msg-ck{
	width:143px;
	height:36px;
	text-indent:10px;
	border:1px solid #bdbdbd;
}
.reg-msg-get{
	width:146px;
	height:36px;
	text-align:center;
	line-height:36px;
	white-space:nowrap;
	color:#858585;
	font-size:14px;
	background-color:#ebebeb;
	overflow:hidden;
	border:1px solid #bdbdbd;
}
.reg-submit{
	width:295px;
	height:45px;
	text-align:center;
	line-height:45px;
	color:#FFF;
	font-size:18px;
	background-color:#1c6cd2;
	border:none;
	cursor:pointer;
}
.has-btm-tip{
	padding-left:162px;
	padding-top:9px;
	color:#4a4a4a;
	font-size:12px;
}
.has-btm-tip input,.has-btm-tip span{ vertical-align:middle;}
.has-btm-tip .txt a{ color:#6dadd3;}

.reg-mR{
	float:right;
	width:246px;
	padding-top:31px;
	margin-right:120px;
}
.reg-mR-in{
	height:349px;
	text-align:center;
	background-color:#fafafa;
	border:1px solid #f5f5f5;
}
.reg-mR-in .tBox{
	padding:42px 0 32px;
	color:#686a67;
	font-size:16px;
}
.reg-mR-in .tBox a{color:#686a67;}
.reg-mR-in .t-t{
	color:#969696;
	font-size:11.8px;
}
.reg-oth-box{
	padding-left:30px;
	padding-top:7px;
}
.reg-oth-box .itmB{
	float:left;
	width:33%;
	padding:5px 0px;
}
.reg-oth-box .itmB a{
	display:block;
	width:50px;
	height:50px;
	
	background-image:url(../images/reg-ico-box-1.png);
	background-repeat:no-repeat;	
}
.reg-oth-box .itmB .i-0{
	background-position:0 0;
}
.reg-oth-box .itmB .i-1{
	background-position:0px -62px;
}
.reg-oth-box .itmB .i-2{
	background-position:0px -124px;
}
.reg-oth-box .itmB .i-3{
	background-position:0px -186px;
}

/*sell*/
.sellTop{
	height:633px;
	background:#709edb url(../images/sell-bg.jpg) no-repeat center top;
	background-size:100% auto;
}
.sellTop .t-txt-box{
	padding:82px 0px 40px;
	text-align: center;
}
.sellT-m{
	position: relative;
	width:983px;
	height:302px;
	margin:0 auto;
}
.sellT-m .opac{
	position:absolute;
	width: 100%;
	height:100%;
	left: 0px;
	top:0px;
	background-color: #5276a6;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	z-index: 99;
}
.sellTm-in{
	position: relative;
	padding-left: 14px;
	padding-top: 26px;
	z-index: 999;
}
.sellTm-in .in-itm{
	padding:10px 0px;
}
.sellTm-in-1 .select{
	width: 227px;
	line-height: 34px;
	margin-left:75px;
	color:#a4a4a4;
	font-size:15px;
	text-indent:35px;
	background-color: #FFFFFF;
	background-image:url("../images/sea-ico-s2.png") ;
	background-repeat: no-repeat;
	background-position:12px center;
	border: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.sellTm-in-1 .select:first-child{
	margin-left: 0;
}
.sellTm-in-1 .select.s2{width:320px;}
.sellTm-in-1 .select dt{
	background-image:url(../images/dp-ico-s4.png);
}
.sellTm-in-1 .select .option{
	top:34px;
}
.sellTm-in-2{ font-size: 15px;}
.sellTm-in-2 .itemb{
    float: left;
    margin-left: 75px;
}
.sellTm-in-2 .itemb:first-child{
    margin-left: 0px;
}
.sellTm-in-2 .itemb span,.sellTm-in-2 .itemb input{ vertical-align: middle;}
.sellTm-in .tip{
    line-height: 34px;
    color:#FFF;
    font-size: 15px;
}
.sellT-inp-s1{
    width: 119px;
    height: 34px;
    border: none;
    text-indent: 10px;
    background-color: #FFF;
}
.sellT-inp-s2{
    width: 159px;
    height: 34px;
    border: none;
    text-indent: 10px;
    background-color: #FFF;
}
.sellTm-in-3 .select{
    position: relative;
    width:127px;
    color:#ffffff;
    font-size: 15px;
    text-indent: 40px;
    line-height: 37px;
    margin-right: 22px;
    /*background-color: #8495ab;*/
    background:rgba(137,154,174,0.6);
    border:none;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.sellTm-in-3 .select dt{
    background-image: url(../images/dp-ico-s4.png);
}
.sellTm-in-3 .select .option{
    top:38px;
    background-color: #8495ab\9;
    background:rgba(137,154,174,0.6);
    border:none;
}
.sellT-inp-s3{
    width: 275px;
    /*
    height:37px;
    line-height: 37px;
    */
    padding:10px 0px;
    text-indent: 10px;
    color:#cbcbcb;
    font-size: 15px;
    background:rgba(137,154,174,0.7);
    border:none;
}
.sellT-btm-op{
    width:408px;
    padding-top: 40px;
    margin: 0 auto;
}
.sellT-btm-op .book,.sellT-btm-op .val{
    float: left;
    width:204px;
    height: 43px;
    color:#ffffff;
    font-size: 18px;
    border:none;
    cursor: pointer;
}
.sellT-btm-op .book{ background-color: #f05252;}
.sellT-btm-op .val{ background-color: #23bd81;}

.sell-mn .tspl{
    width:0px;
    height:0px;
    margin:0 auto;
    border:6px solid transparent;
    border-bottom: none;
    border-top: 8px solid #6c9bd9;
}
.sell-mn-in{
    padding:20px 0px;
}
.sell-mn-in .item-b{
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding-left: 75px;
}
.sell-mni-b{
    position: relative;
}
.sell-mni-b.s0{
    background:url("../images/sell-mn-ico-1.png") no-repeat left center;
}
.sell-mni-b.s1{
    background:url("../images/sell-mn-ico-2.png") no-repeat left center;
}
.sell-mni-b.s2{
    background:url("../images/sell-mn-ico-3.png") no-repeat left center;
}
.sell-mni-b .des-b{
    padding-left: 32px;
}
.sell-mni-b .des-b .tit{
    color:#232323;
    font-size: 18px;
}
.sell-mni-b .des-b .btm-t{
    color:#aaaaaa;
    font-size: 14px;
}

.sell-mserv{
    height: 719px;
    background-color: #d8d8d8;
    background-image: url("../images/sell_m1_bg.jpg");
    background-repeat:no-repeat;
    background-position: center top;
}
.sell-mserv .Top{
    padding: 52px 0px 45px;
    text-align: center;
}
.sell-mserv .Top .p-1{
    color:#2c2c2c;
    font-size: 18px;
}
.sell-mserv .Top .p-2{
    color:#2c2c2c;
    font-size: 13px;
}
.sell-ms-main .item{
    position: relative;
    float: left;
    width: 33%;
    min-height: 103px;
    margin-bottom: 70px;
}
.sell-ms-main .item i{
    position: absolute;
    display: block;
    width: 103px;
    height: 103px;
    left: 76px;
    top:50%;
    margin-top: -51px;
    background-image: url("../images/s-ico-box.png");
    background-repeat: no-repeat;
}
.sell-ms-main .item .i-0{
    background-position: 0px 0px;
}
.sell-ms-main .item .i-1{
    background-position: 0px -118px;
}
.sell-ms-main .item .i-2{
    background-position: 0px -236px;
}
.sell-ms-main .item .i-3{
    background-position: 0px -354px;
}
.sell-ms-main .item .i-4{
    background-position: 0px -472px;
}
.sell-ms-main .item .i-5{
    background-position: 0px -590px;
}
.sell-ms-main .item .des{
    padding-left: 192px;
    padding-top: 26px;
}
.sell-ms-main .item .des .p-1{
    color:#000000;
    font-size: 18.97px;
}
.sell-ms-main .item .des .p-2{ color:#434343;font-size: 15.81px;}
.sell-ms-btn{
    display: block;
    width:324px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    color:#FFF;
    font-size: 25px;
    background-color: #363636;
}
.sell-ms-btm{ padding-top: 90px;}
.sell-ms-btm a{ margin: 0 auto;}

/*买车详情页*/
.bxq-top{
    padding-bottom: 40px;
    background-color: #3c3c3c;
}
.bxq-top .daohang a:hover{color:#FFF !important;}
.bxq-top .daohang .my_nav div:hover a {
color: #FFF; 
} 
.bxq-top .daohang .my_nav div:hover a {
background: #3b3a3a; 
} 
.bxq-top .daohang li a:hover{color:#FFF !important;}
.bxq-top .daohang li a.yj:hover{border:2px solid #FFF;}
.bxq-slide .slideBox .fbox{
    position:absolute;
    width: 100%;
    height: 62px;
    left:0px;
    bottom:0px;
}
.bxq-slide .slideBox .fbox .opa{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;

    background-color: #000000;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.bxq-sd-fin{
    position:relative;
    line-height: 62px;
    color:#FFF;
    padding-left: 220px;
    padding-right: 142px;
    z-index: 99;
}
.bxq-open-pho{
    float: left;
    min-height: 34px;
    color:#FFF;
    font-size:18px;
    padding-left: 40px;
    background: url("../images/bxq-ico-1.png") no-repeat left center;
}
.bxq-sd-rt{
    float: right;
    font-size: 12.5px;
}
.bxq-sd-rt em,.bxq-sd-rt span{ vertical-align: middle;}
.bxq-sd-rt em{
    margin-right: 3px;
    font-size: 30px;
}
.bxq-carval-b{
    padding:24px 95px 45px;
}
.bxq-carval-L{
    float: left;
    width:547px;
}
.bxq-carval-L .out-itm{
    padding: 22px 0px;
    border-bottom: 1px solid #e0e0e0;
}
.bxq-carval-L .out-itm:first-child{
    padding-top: 0px;
}
.bxq-carval-L .Tit{
    line-height: 28px;
    padding-top: 10px;
    color:#999999;
    font-size: 14px;
    text-align: center;
}
.bxq-carval-L .Tit > span{ vertical-align: middle;}
.bxq-carval-L .Tit .ils{
    padding-left: 24px;
    margin-right: 12px;
}
.bxq-carval-L .Tit .bao{
    margin-right: 20px;
    color:#fd5200;
    background: url("../images/bxq-ico-3.png") no-repeat left center;
}
.bxq-carval-L .Tit .pro{
    color:#424242;
    background: url("../images/bxq-ico-2.png") no-repeat left center;
}
.bxq-carval-L .car-n{
    margin-top: 32px;
    margin-bottom: 42px;
    text-align: center;
    color:#1f6fd4;
    font-size: 18px;
}
.bxq-carval-L .car-n .nt{
    padding-left: 38px;
    background: url("../images/bxq-ico-4.png") no-repeat left center;
}
.bxq-car-zb{
    padding:0px 15px;
}
.bxq-car-zb .imb{
    position: relative;
    float: left;
    width:25%;
    text-align: center;
}
.bxq-car-zb .imb .split{
    position: absolute;
    display: block;
    width: 1px;
    height: 27px;
    right: 0px;
    bottom: 0px;
    background-color: #d6d6d6;
}
.bxq-car-zb .imb .dv-2{
    padding: 5px 0px;
    color:#989898;
    font-size: 14.04px;
}
.bxq-car-zb .imb .dv-3{
    color:#555555;
    font-size: 16.19px;
}
.bxq-carval-L .car-pay-type,.bxq-carval-L .city-local,.bxq-cvl-sug{
    padding-left: 50px;
}
.bxq-carval-L .car-pay-type .inline{
    vertical-align: middle;
    margin-left: 40px;
    color:#a1a1a1;
    font-size: 15px;
}
.bxq-carval-L .car-pay-type .inline:first-child{
    margin-left: 0px;
    color:#3e3e3e;
}
.bxq-carval-L .car-pay-type .inline em{
    color:#656565;
}
.bxq-carval-L .city-local{ font-size: 15px;}
.bxq-carval-L .city-local span{ vertical-align: middle;}
.bxq-carval-L .city-local .tip{
    color:#989898;
    padding-left: 27px;
    background: url("../images/bxq-ico-9.png") no-repeat left center;
}
.bxq-carval-L .city-local .dz{color:#252525;}
.bxq-cvl-sug .T{
    color:#b2b2b2;
    font-size: 16px;
}
.bxq-cvl-sug .C{
    width: 420px;
    margin-top:12px;
    line-height: 26px;
    color:#4d4d4d;
    font-size: 15px;
}

.bxq-carval-R{
    float: right;
    width: 312px;
    text-align: center;
}
.bxq-carval-R .ykc{
    display: block;
    width: 312px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    color:#FFF;
    font-size: 18px;
    background-color: #1f6fd4;
}
.bxq-cvl-man{
    margin-top: 10px;
    height: 445px;
    border:1px solid #dcdcdc;
}
.bxq-cvl-man .t-1{
    padding: 24px 0px 9px;
    color:#858585;
    font-size: 18px;
}
.bxq-cvl-man .t-2{
    color:#373737;
    font-size:20px;
}
.bxq-cvl-man .v-pic{margin-top: 12px; margin-bottom: 24px;}
.bxq-cvl-man .v-pic img{
    width:176px;
    height: 176px;

    border-radius: 88px;
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px;
}
.bxq-cvl-man .v-dg{
    text-align: center;
    margin-left: -5px;
}
.bxq-cvl-man .v-dg .tag{
    display: inline-block;
    padding: 6px 8px;
    margin-left: 5px;
    color:#ffffff;
    font-size: 16px;
    background-color: #fc5353;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.bxq-cvl-man .v-case{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color:#969696;
    font-size: 15px;
    text-align: left;
}
.bxq-cvl-man .v-case .dv-1{margin-left: -18px;}
.bxq-cvl-man .v-case .dv-1 .inb{
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.bxq-cvl-man .v-case .dv-1 .inb .i{
    display: block;
    padding-left: 18px;
    border-left:1px solid #d8d8d8;
}
.bxq-cvl-man .v-case .dv-1 .inb.no .i{
    border-left:none;
}
.bxq-cvl-man .v-case .dv-2{padding-top: 12px;}

.bxq-ci-mn{
    width:1198px;
    height: 41px;
    margin-bottom: 35px;
    background-color: #FFF;
    border: 1px solid #eeeeee;
}
.bxq-ci-mn.fixed{
    position: fixed;
    top:0px;
    z-index: 999;
}
.bxq-ci-list{ padding-left: 30px;}
.bxq-ci-list li{
    float: left;
    height: 41px;
    line-height: 41px;
    margin-left: 210px;
    font-size: 15px;
}
.bxq-ci-list li:first-child{ margin-left:0px;}
.bxq-ci-list li a{
    display: block;
    height: 38px;
    color:#939393;
}
.bxq-ci-list li.active a{
    color:#1f6fd4;
    border-bottom: 3px solid #1f6fd4;
}
.bxq-ci-itm{
    margin-bottom: 28px;
    padding-top: 40px;
    background-color: #FFF;
    border:1px solid #eeeeee;
}
.bxq-ci-itm.active{ display: block;}

.bxq-ci-mBox{
    background-color: #FFF;

}
.bxq-ci-itm .Top{border-bottom: 1px solid #f7f7f7;}
.bxq-ci-itm .Top h3,.bxq-like .Top .t{
    color:#464646;
    font-size: 20px;
    font-weight: normal;
    padding-left: 6px;
    border-left:4px solid #1f6fd4;
}
.bxq-ci-itm > .in{
    padding: 0 95px;
}
.bxq-ldpz .in{
    padding-top: 28px;
    padding-bottom: 42px;
}
.bxq-ld-in-ls li{
    box-sizing: border-box;
    float: left;
    width: 16.6%;
    margin-bottom: 42px;
}
.bxq-ldpz-lsin{
    position: relative;
    text-align: center;
}
.bxq-ldpz-lsin .spl{
    position: absolute;
    width:1px;
    height: 27px;
    right: 0px;
    top:50%;
    margin-top: -13.5px;
    background-color: #d8d8d8;
}
.bxq-ldpz-lsin i{
    display: inline-block;
    width: 82px;
    height: 54px;
    background-image: url("../images/bxq-ico-box-2.png");
    background-repeat: no-repeat;
}
.bxq-ldpz-lsin .btm-tt{
    color:#616161;
    font-size: 15px;
}
.bxq-ldpz-lsin .i-0{
    background-position:0px 6px;
}
.bxq-ldpz-lsin .i-1{
    background-position:-112px 6px;
}
.bxq-ldpz-lsin .i-2{
    background-position:-236px 6px;
}
.bxq-ldpz-lsin .i-3{
    background-position:-360px 6px;
}
.bxq-ldpz-lsin .i-4{
    background-position:-488px 6px;
}
.bxq-ldpz-lsin .i-5{
    background-position:-604px 6px;
}
.bxq-ldpz-lsin .i-6{
    background-position:0px -110px;
}
.bxq-ldpz-lsin .i-7{
    background-position:-112px -110px;
}
.bxq-ldpz-lsin .i-8{
    background-position:-236px -110px;
}
.bxq-ldpz-lsin .i-9{
    background-position:-364px -110px;
}
.bxq-ldpz-lsin .i-10{
    background-position:-488px -110px;
}
.bxq-ldpz-lsin .i-11{
    background-position:-604px -110px;
}
.bxq-ldpz-lsin .i-12{
    background-position:0px -224px;
}
.bxq-ldpz-lsin .i-13{
    background-position:-112px -224px;
}
.bxq-ldpz-lsin .i-14{
    background-position:-236px -224px;
}
.bxq-ldpz-lsin .i-15{
    background-position:-360px -224px;
}
.bxq-ldpz-lsin .i-16{
    background-position:-488px -224px;
}
.bxq-ldpz-lsin .i-17{
    background-position:-604px -224px;
}
.bxq-cf-info{
    padding-top: 18px;
    padding-bottom: 18px;
}
.bxq-flag-s1{
    padding:0 14px;
    color:#f55959;
    font-size: 15px;
    line-height: 22px;
    border:1px solid #f55959;

    border-radius: 5px;
}
.bxq-cf-info .bxq-flag-s1{margin-left: 8px;}
.bxq-cf-info .base-b,.bxq-cf-info .import-b{
    padding-left: 10px;
}
.bxq-cf-info .base-b .mbox{
    margin-top: 18px;
    color:#616161;
    font-size: 15px;
}
.bxq-cf-info .base-b .mbox .n{color:#f55959;}
.bxq-cfg-tag{
    color:#4d4d4d;
    font-size: 16px;
    padding-left: 22px;
    margin-right: 35px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
}
.bxq-cfg-tag.i-0,.bxq-cfg-icoB .i-0{
    background-position: 0px 6px;
}
.bxq-cfg-tag.i-1,.bxq-cfg-icoB .i-1{
    background-position: 0px -18px;
}
.bxq-cfg-tag.i-2,.bxq-cfg-icoB .i-2{
    background-position: 0px -37px;
}
.bxq-cfg-tag.i-3,.bxq-cfg-icoB .i-3{
    background-position: 0px -59px;
}
.bxq-cfg-tag.i-4,.bxq-cfg-icoB .i-4{
    background-position: 0px -90px;
}
.bxq-cf-info .import-b{margin-top: 34px;}
.bxq-cf-info .import-b .mbox{
    padding-left: 32px;
    margin-top: 18px;
}
.bxq-cfg-mls{padding-left: 40px; margin-top: 25px;}
.bxq-cfg-list{
    width: 476px;
    padding: 28px 0px;
    margin-left: 45px;
    background-color: #f7f7f7;
    border-left: 7px solid #1f6fd4;
}
.bxq-cfg-mlsI{padding: 20px 39px 20px 54px;}
.bxq-cfg-mlsI .ttl{float:left; width: 50%;}
.bxq-cfg-icoB{float: right}
.bxq-cfg-icoB i{
    float: left;
    display: block;
    width: 18px;
    height: 20px;
    margin-right: 15px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
}
.bxq-ts-report{
    margin-top: 30px;
}
.bxq-tsr-mn{
    height:47px;
    line-height: 47px;
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
}
.bxq-tsr-mn li{
    float: left;
    box-sizing: border-box;
    width:14.28%;
    height: 47px;
    text-align: center;
    font-size: 15px;
    background-color: #FFF;
    overflow: hidden;
}
.bxq-tsr-mn li a{
    display: block;
    height: 47px;
    color:#3d3b3b;
    border-left: 1px solid #ededed;
}
.bxq-tsr-mn li:first-child a{
    border-left: none;
}
.bxq-tsr-mn li.active{height:48px;}
.bxq-tsr-mn li.active a{
    border-top: 3px solid #1f6fd4;
    /*border-bottom:none;*/
}
.bxq-tsr-mbox{display:none; padding-top:5px;}
.bxq-tsr-mbox.acc{
    padding: 70px 0px;
    color:#c0bebf;
    text-align: center;
}
.bxq-tsr-mbox.fire,.bxq-tsr-mbox.water{
    padding-top: 70px;
}
.bxq-tsr-mh-1{
    color:#46474d;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
.bxq-tsr-tdes-1{
    margin-top: 16px;
    margin-bottom: 45px;
    text-align: center;
}
.bxq-tsr-tdes-1 span{
    padding: 6px 16px;
    color:#ffffff;
    font-size: 15px;
    line-height: 32px;
    background-color: #1f6fd4;
}
.bxq-car-param{
    padding-top: 15px;
}
.bxq-cpar-tb{
    width:100%;
    margin-bottom: 46px;
    color:#7b7b7b;
    font-size: 14px;
}

.bxq-cpar-tb td{
    box-sizing: border-box;
    width:25%;
    text-indent: 10px;
    height: 30px;
}
.bxq-cpar-tb tbody tr:nth-child(2n){
    background-color: #fbfbfb;
}
.bxq-cpar-tb .tip{color:#606060;}
.bxq-cpar-tb .td-1 .tip{padding-left: 64px;}
.bxq-like{
    padding-bottom: 36px;
}
.bxq-like .Top .t{vertical-align: middle;}
.bxq-like .Top .c-oth{
    padding: 2px 5px;
    margin-left: 10px;
    color:#ffffff;
    font-size: 12px;
    vertical-align: middle;
    background-color: #f55959;
}
.bxq-like-lsb{
    margin-top: 13px;
}
.bxq-like-list{margin-left: -8px;}
.bxq-like-list li{
    float: left;
    width: 294px;
    margin-left: 8px;
    margin-bottom: 14px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #f1f1f1;
}
.bxq-like-list li .car-pic{
    display: block;
    width:294px;
    height: 228px;
    overflow: hidden;
}
.bxq-like-list li .car-pic img{
    width:294px;
    height: 228px;
}
.bxq-like-list li .car-cfg-spl{
    width: 199px;
    margin: 0px auto;
}
.bxq-like-list li .car-cfg-m{ line-height: 22px;}
.bxq-like-list li .car-cfg-m .im{
    float: left;
    width: 33%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.bxq-like-list li .car-cfg-m .im .p-1{
    color:#707070;
    font-size: 12.05px;
}
.bxq-like-list li .car-cfg-m .im .p-2{
    color:#585858;
    font-size: 15.06px;
}
.bxq-like-list li .car-name{
    padding: 10px 0px;
    color:#3c3c3c;
    font-size: 15.06px;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.bxq-like-list li .car-pri{
    padding: 20px 0px;
    color:#1c6cd2;
    font-size: 15.06px;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.bxq-tsr-qes{
    min-height: 289px;
    padding-bottom: 21px;
    color:#242424;
    font-size: 15px;
    background: url("../images/bxq-tsr-ico-1.png") no-repeat center top;
}
.bxq-tsr-qes .cL{
    float: left;
    width: 47%;
    padding-top: 64px;
    text-align: right;
}
.bxq-tsr-qes .cL p{
    background: url("../images/bxq-tsr-ico-2.png") no-repeat right center;
    padding-right: 21px;
}
.bxq-tsr-qes .cL .p-1{
    margin-right: 95px;
}
.bxq-tsr-qes .cL .p-2{
    position: relative;
    top:62px;
    margin-right: 30px;
}
.bxq-tsr-qes .cL .p-3{
    position: relative;
    top:122px;
}
.bxq-tsr-qes .cR{
    float: right;
    width: 47%;
    padding-top: 64px;
}
.bxq-tsr-qes .cR p{
    background: url("../images/bxq-tsr-ico-2.png") no-repeat left center;
    padding-left: 21px;
}
.bxq-tsr-qes .cR .p-1{
    margin-left: 95px;
}
.bxq-tsr-qes .cR .p-2{
    position: relative;
    top:62px;
    margin-left: 70px;
}
.bxq-tsr-qes .cR .p-3{
    position: relative;
    top:122px;
}
.bxq-tsr-qshow{
    padding-top: 32px;
    background-color: #f6f7f9;
}
.bxq-tsr-qshow .title{
    width:331px;
    height: 57px;
    margin: 0px auto;
    text-align: center;
    line-height: 57px;
    color:#444242;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    background: url("../images/bxq-tsr-ico-3.png") no-repeat center center;
}
.bxq-tsr-qshow .title .tip{
    background-image:url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
    background-position:0px -59px;
    padding-left: 25px;
    margin-left: 21px;
}
.bxq-tsr-qshow .qlist{
    padding: 24px 32px 42px;
    color:#767676;
    font-size: 16px;
}
.bxq-tsr-qshow .qlist li{
    float: left;
    width:50%;
    line-height: 32px;
    margin-top: 26px;
}
.bxq-tsr-qshow .qlist li .t{margin-right: 20px;}
.bxq-tsr-qshow .qlist li .c{
    color:#303030;
    padding-left: 22px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
}
.bxq-tsr-qshow .qlist li .c.i-3{background-position:0px -59px;}

.water .bxq-tsr-qshow .qlist{padding-bottom: 70px;}
.bxq-ts-sbox .item{
    float: left;
    margin-left: 50px;
}
.bxq-ts-sbox .item .pic{
    width: 298px;
    height: 269px;
    padding:32px 20px;
    background-color: #fbfbfb;
}
.bxq-tsf-ibtm{
    padding-left: 8px;
    color:#606060;
    font-size: 14px;
}
.bxq-tsf-ibtm .t{
    padding: 11px 0px;
    color:#464646;
    font-size: 15px;
}
.bxq-tsf-ibtm .t .qr{
    padding-left: 22px;
    padding-right: 32px;
    margin-right: 35px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
    background-position:0px -59px;
}
.bxq-tsf-ibtm .t-t{margin-bottom: 10px;}
.bxq-tsf-ibtm .warm .txt{
    padding-left: 22px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
    background-position:0px -59px;
}
.bxq-tsr-mbox.safe{padding: 36px 0px;}
.bxq-ts-sbox{
    margin-left: -50px;
    padding-left: 38px;
}
.bxq-tsr-mbox.appear{
    padding: 68px 0px 46px;
    text-align: center;
}
.bxq-tsr-mbox.appear .mpic{
    min-height: 614px;
    background: url("../images/bxq-tsr-pic-1.jpg") no-repeat center top;
}
.bxq-tsr-mbox.deco{
    padding: 75px 0px 160px;
}
.bxq-tsde-ls li{
    float:left;
    width: 33.3%;
    margin-top: 18px;
    text-align: right;
    line-height: 32px;
    color:#55585d;
    font-size: 20px;
}
.bxq-tsde-ls li .inn{padding-right: 120px;}
.bxq-tsde-ls li .txt{
    position: relative;
    padding-right: 46px;
}
.bxq-tsde-ls li .txt i{
    position: absolute;
    display: block;
    width: 18px;
    height: 20px;
    right: 0px;
    top:50%;
    margin-top: -10px;
    background-image: url("../images/bxq-ico-box-1.png");
    background-repeat: no-repeat;
}
.bxq-tsde-ls li .txt .i-3{
    background-position:0px -59px;
}
.bxq-tsr-mbox.motor{
    padding: 40px 0px 160px;
    text-align: center;
}
.bxq-tsr-mbox.motor .ibtm{
    margin-top: 30px;
    color:#707070;
    font-size: 15px;
}
.parking-t-slide .picFocus .hd ul{padding-left: 2px;}
.park-collect{
    height:506px;
    background: #f9f9f9 url("../images/parking-sbg.jpg") center top;
	background-size:100% auto;
}
.park-collect .Tbox{
    padding-top: 62px;
    margin-bottom: 24px;
    color:#464646;
    text-align: center;
}
.park-collect .Tbox .t-1{
    font-size: 25.15px;
}
.park-collect .Tbox .t-1 i{
    display: inline-block;
    width:17px;
    height: 16px;
    vertical-align: top;
    margin-left: 7px;
    background: url("../images/parking-collect-ico.png") no-repeat center center;
}
.park-collect .Tbox .t-2{
    font-size: 18.86px;
    line-height: 28px;
}
.car-compar{padding-bottom:52px;}
.car-compar-lsi{
    float:left;
    width: 33.3%;
}
.car-compar-lsi .T{
    padding-top: 7px;
    text-align:center;
    background-color: #e2e5e9;
}
.car-compar-lsi .tpic img{
    width: 378px;
    height: 355px;
}
.car-compar-lsi .prib{line-height: 50px;padding:18px 0px;}
.car-compar-lsi .prib span{
    padding: 9px 60px;
    color:#ffffff;
    font-size: 20px;
    white-space: nowrap;
    background-color: #363636;
}
.car-compar-lsi .C{
    background-color: #ebeff4;
}
.car-cpar-ic{
    padding-left: 46px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.car-cpar-ic li{
    line-height: 25px;
    padding-left: 20px;
    color:#474747;
    font-size: 13px;
    background: url("../images/car-compar-ls-ico.png") no-repeat left center;
}
.car-cpar-ic li .tip{
    display: block;
    width: 40%;
}
.car-compar-lsi .buy-b{
    position: relative;
    height: 66px;
    line-height: 66px;
    text-align: center;
    background-color: #1c6cd2;
}
.car-compar-lsi .buy-b .buy-btn{
    color:#FFF;
    font-size: 19px;
}
.car-compar-lsi .buy-b .fbox,.car-compar-lsi .r-opa{
    position: absolute;
    width: 66px;
    height: 66px;
    right: 0px;
    top:0;
    text-align: center;
}
.car-compar-lsi .buy-b .fbox{ z-index: 99;}
.car-compar-lsi .buy-b .fbox .del-btn{
    display: block;
    width: 66px;
    height: 66px;
    text-align: center;
    line-height: 66px;
}
.car-compar-lsi .r-opa{
    background-color: #FFF;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 9;
}
/*付款页*/
.pay-s-m1{
    padding: 30px 68px 6px;
}
.pay-s-m1i{
    position: relative;
    float: left;
    width: 50%;
}
.pay-s-m1i .Lb{
    position: relative;
    float: left;
    min-height: 176px;
}
.pay-s-m1i .Rb{
    position: relative;
    float: right;
    min-height: 176px;
}
.pay-s-m1i .pic{
    position: absolute;
    width: 176px;
    height: 176px;
    left:0px;
    top:50%;
    margin-top: -88px;

    border-radius: 88px;
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px;
    overflow: hidden;
}
.pay-s-m1i .pic img{width: 176px;height: 176px;}
.pay-s-m1i .pdes{
    padding-left:196px;
    padding-top: 32px;
    line-height: 28px;
    color:#575757;
    font-size: 15px;
}
.ts-sel{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.pay-s-m1i .osp{
    position: absolute;
    width:1px;
    height: 108px;
    right: 0;
    top:50%;
    margin-top: -54px;
    background-color: #e2e2e2;
}
.pay-s-info{
    padding: 24px 25px 0px;
    border:1px solid #e2e2e2;
    border-bottom: 3px solid #1f6fd4;
}
.pay-s-info .priB{
    text-align: center;
    height:91px;
    line-height: 91px;
    color:#cecfd1;
    font-size: 15px;
    background-color: #1f6fd4;
}
.pay-s-info .priB .num{
    color:#FFF;
    font-size:40.7px;
}
.pay-s-info .priB .unit{font-size: 21.55px;}
.pay-s-tpls .pic{
    width:185px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border:1px solid #656262;

    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.pay-s-tpls .pt-rd,.pay-bk-rd{
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 20px;
    margin-right: 12px;
    background-image: url("../images/radio-ico-b.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.pay-s-tpls .pt-rd.active,.pay-bk-rd.active{
    background-position: 0px -27px;
}
.pay-s-tpls .pt-rd input,.pay-bk-rd input{
    width: 16px;
    height: 16px;
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    cursor: pointer;
}
.pay-s-typeB{padding:35px 0px 40px;border-bottom: 1px dotted #4b4b4b;}
.pay-s-tpls{ margin-left: -20px;}
.pay-s-tpls li{
    position: relative;
    float:left;
    padding-left: 32px;
    padding-right: 32px;
}
.pay-s-tpls li .spl{
    position: absolute;
    width: 1px;
    height: 39px;
    right: 0px;
    top:50%;
    margin-top: -19.5px;
    background: url("../images/pay-type-spl.png") no-repeat center center;
}
.pay-s-tpm{
    display: none;
    padding-bottom: 84px;
}
.pay-s-tpm .Top{
    padding: 30px 0px 24px 40px;
}
.pay-s-tpm .Top a{
    float:left;
    box-sizing: border-box;
    display:block;
    width: 137px;
    height: 35px;
    margin-right: 25px;
    line-height: 35px;
    text-align: center;
    color:#00a6ee;
    font-size: 13px;
    border: 1px dotted #cacaca;
}
.pay-s-tpm .Top a span{
    padding-left: 15px;
    background-image: url("../images/pay-add-icob.png");
    background-repeat: no-repeat;
    background-position: 0px 4px;
}
.pay-s-tpm .Top a:hover{
    color:#FFF;
    background-color: #0088cc;
    border: none;
}
.pay-s-tpm .Top a:hover span{
    background-position: 0px -18px;
}
.pay-sbk-ls{padding-right: 250px;}
.pay-sbk-ls li{
    float: left;
    width:20%;
    margin-bottom: 20px;
}
.pay-sbk-ls li .pay-bk-rd{margin-top: 16px;}
.pay-sbk-ls li .pic{
    width:130px;
    height: 40px;
    border:1px solid #e6e6e6;
}
.pay-scar-step{
    display: table;
    margin: 0px auto;
}
.pay-scar-step .step-itm{
    position: relative;
    float: left;
    width: 170px;
    margin-right: 11px;
    text-align: center;
    font-size: 12px;
}
.pay-scar-step .step-itm .t-num{
    width: 18px;
    height: 18px;
    margin: 0px auto;
    color:#FFF;
    font-size: 12px;
    background-image: url("../images/step-ico-s1.png");
    background-repeat: no-repeat;
    background-position: 0px -30px;
}
.pay-scar-step .step-itm .txt{
    margin-top: 9px;
    color:#cccccc;
}
.pay-scar-step .step-itm .spl-b{
    position: absolute;
    top:7px;
    left: 100px;
    width: 150px;
    height: 4px;
    background-color: #cccccc;
}
.pay-scar-step .step-itm.active .t-num{
    background-position: 0px 0px;
}
.pay-scar-step .step-itm.active .txt{
    color:#1f6fd4;
}
.pay-scar-step .step-itm.active .spl-b{
    background-color: #1f6fd4;
}
.pay-s-checkout{
    padding-top: 36px;
    padding-bottom: 30px;
    /*
    padding-left: 52px;
    padding-right: 30px;
    */
}
.pay-s-checkout .title{
    position: relative;
}
.pay-s-checkout .title .back{
    position: absolute;
    top:0px;
    left: 40px;
    color:#1f6fd4;
    font-size: 15px;
    padding-left: 21px;
    background: url("../images/pay-back.png") no-repeat left center;
}
.ps-cko-m{
    display: none;
    padding-top: 70px;
}
.ps-cko-m.s-1 .Lb{
    float: left;
}
.ps-cko-m.s-1 .Lb .pic{
    display: block;
    width: 652px;
    height:392px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}
.ps-cko-m.s-1 .Lb .pic img{width: 652px;height:392px;}
.ps-cko-m.s-1 .Lb .btm-txt{
    margin-top: 3px;
    line-height: 23px;
    color:#575757;
    font-size: 15px;
}
.ps-cko-m.s-1 .Rb{
    float: right;
    width: 437px;
}
.ps-cko-m.s-1 .Rb .T-total{
    height: 91px;
    line-height: 91px;
    text-align: center;
    color:#4c4e50;
    font-size: 13px;
    background-color: #e5e5e5;
    white-space: nowrap;
}
.ps-cko-m.s-1 .Rb .T-total .t-c{
    color:#1c6cd2;
    font-size: 20px;
}
.ps-cko-m.s-1 .Rb .fee{position: relative;color:#4c4e50; font-size: 15px;padding: 12px 0px 30px;}
.ps-cko-m.s-1 .Rb .fee .item{
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}
.ps-cko-m.s-1 .Rb .fee .item .spl{
    position: absolute;
    width: 2px;
    height: 10px;
    right:-1px;
    top: 50%;
    margin-top: -5px;
    background-color: #b4b4b5;
}
.ps-cko-m.s-1 .Rb .fee .item .t-c{
    padding-left: 10px;
    color:#1c6cd2;
}
.ps-cko-m.s-1 .Rb .info-yes{
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align:center;
    color:#FFF;
    font-size: 18px;
    background-color: #1f6fd4;
    cursor: pointer;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ps-cko-m.s-1 .Rb .tip-ls{
    padding: 0px 15px;
    margin-top: 24px;
}
.ps-cko-m.s-1 .Rb .tip-ls li{
    float: left;
    width: 50%;
    margin-bottom: 18px;
    color:#4c4e50;
    font-size: 15px;
}
.ps-cko-m.s-1 .Rb .tip-ls li span{
    padding-left: 25px;
    background-image: url("../images/start-ico.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.ps-cko-m2L{
    float: left;
    width: 507px;
    padding:32px 0px;
    border: 1px solid #cccccc;
}
.ps-cko-m2L .pic{
    float: left;
    width: 176px;
    height: 176px;
    margin-left: 65px;
    margin-right: 21px;

    border-radius: 88px;
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px;
}
.ps-cko-m2L .pdes{
    float: left;
    padding-top: 32px;
    line-height: 28px;
}
.ps-cko-m2R{
    float: right;
    width: 663px;
    padding: 14px 0px 8px;
    border: 1px solid #cccccc;
}
.ps-cko-m2R .o-item{
    float: left;
    padding: 9px 0px;
}
.ps-cko-m2R .o-item .tip{
    display: block;
    width: 80px;
    line-height: 37px;
    color:#4c4e50;
    font-size: 15px;
    text-align: right;
    white-space: nowrap;
}
.ps-inp-1{
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 10px 0px;
    color:#3b3c41;
    font-size: 20px;
    text-indent: 8px;
    border:1px solid #999999;
}
.name .ps-inp-1{width: 145px;}
.addr .ps-inp-1{width: 304px;}
.email .ps-inp-1{width: 255px;}
.phone .ps-inp-1{width: 165px;}
.cd .ps-inp-1{width: 94px;}
.ps-cko-m2R .o-item .select{
    width:86px;
    padding-right: 8px;
    margin: 0px 16px;
    line-height: 35px;
    color:#3b3c41;
    font-size: 20px;
    text-indent: 25px;
    border:1px solid #999999;
}
.ps-cko-m2R .o-item .select dt{
    background-image:url(../images/pay-dp-ico.png);
    background-position: 100% center;
}
.ps-cko-m2R .o-item .option{top:38px;}
.ps-cko-m2R .sub-box{
    margin-top: 15px;
}
.ps-cko-m2R .submit-btn{
    display: block;
    width: 182px;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    line-height: 42px;
    color:#FFF;
    font-size: 18px;
    background-color: #1f6fd4;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}
.zfb-pay{
    padding-top: 20px;
}
.zfb-pay .warm{
    padding-left: 20px;
    margin-bottom: 21px;
    color:#2c2c2c;
    font-size: 14px;
    background: url("../images/pay-tip-ico-1.png") no-repeat left center;
}
.zfb-pay .pwd-box .tip-1{
    margin-bottom: 5px;
    color:#2c2c2c;
    font-size: 15px;
}
.zfb-pwd-inp{
    width: 180px;
    height: 12px;
    line-height: 12px;
    padding: 9px 0px;
    text-indent: 10px;
    color:#2c2c2c;
    border: 1px solid #c9c9c9;
}
.zfb-pay .pwd-box .fpwd{
    margin-left: 10px;
    color:#00a6ee;
    line-height:32px;
}
.zfb-pay .pwd-box .tip-2{margin-top: 5px; margin-bottom: 16px;}
.zfb-pay .zfb-yes{
    width: 100px;
    height: 32px;
    line-height: 32px;
    color:#FFF;
    font-size: 14px;
    background-color: #1f6fd4;
    border: none;
    cursor: pointer;
}
/*关于我们*/
.AboutTop{
    position: relative;
    height: 634px;
    background:url("../images/aboutUs-tbg.jpg") no-repeat center top;
	background-color:#c4c4c4 !important;
}
.AboutTop .o-opa{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;left:0px;
    background-color: #5b5b69;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 2;
}
.AboutTop .mid-block{position: relative;height: 634px;z-index: 3;}
.about-serv{
    position: relative;
    height: 266px;
    margin-top: 130px;
    background: url("../images/aboutUs-tico.png") no-repeat center top;
}
.about-serv .item{
    position: absolute;
    /*width: 250px;*/
    color:#cdcdcd;
    font-size: 14px;
    text-align: right;
}
.about-serv .itm-0{
    left:28px;
    top:65px;
}
.about-serv .itm-1{
    right:105px;
    top:65px;
}
.about-serv .itm-2{
    left:28px;
    top:166px;
}
.about-serv .itm-3{
    right:105px;
    top:166px;
}
.about-serv .item .t{
    margin-bottom: 7px;
    color:#FFF;
    font-size: 18px;
}
.about-serv .item .t .txt{
    background-image: url("../images/aboutUs-li-ico.png");
    background-repeat: no-repeat;
}
.about-serv .iR .t .txt{
    padding-right: 25px;
    background-position: right center;
}
.about-serv .iL .t .txt{
    padding-left: 25px;
    background-position: left center;
}
.about-serv .iR .ct{width:250px;padding-right: 25px;}
.about-serv .itm-3 .t{text-align: left; margin-left: 42px;}
.AboutTop .dp-ico{
    display: block;
    position: absolute;
    width: 29px;
    height: 15px;
    bottom: 40px;
    left: 50%;
    margin-left: -14.5px;
    background: url("../images/dp-ico-as1.png") no-repeat center center;
    cursor: pointer;
    z-index: 9;
}
.AboutModel .T{
    padding: 68px 0px 50px;
    text-align: center;
}
.AboutModel .T .t-2{
    margin-top: 28px;
    line-height: 26px;
    color:#666565;
    font-size:15px;
}
.AboutModel .C{margin-left: -18px;/*padding-bottom: 82px;*/}
.AboutModel .Citem{
    float: left;
    width: 330px;
    height: 330px;
    margin-left: 58px;
    text-align: center;
    /*color:#FFF;
    background-color: #537aab;*/
}
.abbg{
	background: url("../images/n_abbg.jpg") no-repeat center center;
	height:497px
}
.n_ab01{ padding-top:275px; color:#1e6ed5; margin-left:50px !important; font-size:15px}
.n_ab02{padding-top:160px; color:#1e6ed5; margin-left:-10px !important; font-size:15px}
.n_ab03{padding-top:370px; color:#1e6ed5; margin-left:-40px !important; font-size:15px}
.AboutModel .Citem .in-b{
    width: 317px;
    height: 320px;
    margin: 6px auto 0px;
    /*background: url("../images/aboutUs-box-1.png") no-repeat center center;*/
}
.AboutModel .Citem .in-b .pic{padding: 80px 0px 32px;  }
.AboutModel .Citem .in-b .pic i{
    display: block;
    width: 133px;
    height: 100px;
    margin: 0px auto;
    background-image: url("../images/aboutUs-box-ico-1.png");
    background-repeat: no-repeat;
}
.AboutModel .Citem .in-b .pic .i-0{background-position: -8px 0px;  }
.AboutModel .Citem .in-b .pic .i-1{background-position: 4px -114px;  }
.AboutModel .Citem .in-b .pic .i-2{background-position: -8px -228px;  }
.AboutModel .Citem .in-b .p-t{font-size: 18px; margin-bottom: 8px;}
.AboutModel .Citem .in-b .btm-t{font-size: 14px;}
.AboutContact{
    padding: 64px 0px 45px;
    text-align: center;
    background-color: #2b282b;
}
.AboutContact .title{
    width: 574px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    margin: 0px auto 16px;
    color:#b2b2b2;
    font-size: 25px;
    background: url("../images/aboutUs-ctxt.png") no-repeat center center;
}
.AboutContact .info{
    width: 669px;
    height: 42px;
    line-height: 42px;
    margin: 0px auto;
    color:#a9a3a9;
    font-size: 14px;
    /*background: url("../images/aboutUs-box-2.png") no-repeat center center;*/
}
.AboutContact .info .M{margin-left: -15px; text-align: center;}
.AboutContact .info .li{
    padding-left: 25px;
    margin-left: 30px;
}
.AboutContact .info .li.loc{
    background: url("../images/aboutUs-cico-1.png") no-repeat left center;
}
.AboutContact .info .li.phone{
    background: url("../images/aboutUs-cico-2.png") no-repeat left center;
}
.AboutContact .info .li.email{
    background: url("../images/aboutUs-cico-3.png") no-repeat left center;
}
.AboutContact .start-time{color:#a9a3a9;font-size: 14px;margin-top: 16px;}
.AboutContact .ck-map-b{margin-top: 52px;}
.AboutContact .ck-map-b a{
    padding: 4px 10px;
    color:#FFF;
    font-size: 14px;
    background-color: #d31d42;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

/**/
.carTuan-T{
	/*height:414px;
	background:url("../images/tuan-top-bg.jpg") no-repeat center top;*/
}
.carTuan-two{
	padding-top:30px;
	height:775px;
	background-color:#FFF;
}
.carTuan-two .carT-tip{
	height:451px;
	background:url("../images/tuan-two.png") no-repeat center top;
}
.carTuan-is{
	position:relative;
	height:586px;
	background-color:#f2f2f2;
}
.tuan-is-tbox{
	position:absolute;
	width:504px;
	height:361px;
	left:50%;
	top:-180px;
	margin-left:-252px;
	background:url("../images/tuan-is-bg.jpg") no-repeat center center;
}
.tuan-is-tbox .btm{
	position:absolute;
	width:100%;
	bottom:21px;
	left:0px;
	text-align:center;
}
.tuan-is-tbox .btm .txt{
	margin-bottom:15px;
	color:#FFF;
	font-size:50px;
}
.tuan-is-tbox .btm .dp-ico{
	display:inline-block;
	width:27px;
	height:14px;
	background:url("../images/tuan-dp.png") no-repeat center center;
	cursor:pointer;
	user-select:none;
	-webkit-user-select:none;
	-moz--user-select:none;
}
.carTuan-is .txt-box{padding-top:240px; line-height:22px;}
.carTuan-is .txt-box .item{margin-top:40px;}
.carTuan-is .txt-box .item:first-child{margin-top:0px;}

.carTuan-list-b{padding-top:68px; padding-bottom:14px;}
.carTuan-list-b .T-t{
	display:block;
	width:492px;
	height:254px;
	margin:0px auto;
	background:url("../images/tuan-car-tt.png") no-repeat center center;
}
.carTuan-ls ul{margin-left:-10px;}
.carTuan-ls li{
	float:left;
	padding:0px 10px;
	margin-bottom:24px;
	border-left:1px solid #eaeaea;
}
.carTuan-ls li:first-child{border-left:1px solid transparent;}
.carTuan-ls li .o-box{
	width:280px;
	padding-bottom:12px;
	border-bottom:1px solid #eaeaea;
}
.carTuan-ls li .picB{
	display:block;
	width:280px;
	height:279px;
	text-align:center;
	line-height:279px;
	margin-bottom:12px;
	overflow:hidden;
}
.carTuan-ls li .picB img{max-width:280px;max-height:279px;}
.carTuan-ls li .pic-txt{
	height:50px;
	color:#000000;
	font-size:18px;
	overflow:hidden;
}
.carTuan-ls li .btm-b{height:53px;overflow:hidden;}
.carTuan-ls li .btm-b .blue-tip{
	width:78%;
	margin-top:18px;
	color:#1764d0;
	font-size:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.carTuan-ls li .btm-b .join-now{
	width:52px;
	padding:5px 0px;	
	color:#FFF;
	font-size:16px;
	text-align:center;
	background-color:#1764d0;
	border-top:1px solid #93b7e9;
	border-left:1px solid #93b7e9;
}


.related-serv-T{
	position:relative;
	height:1000px;
	background:url("../images/services-bg-1.jpg") repeat-x center top;
}
.related-serv-T .part{
	position:absolute;
	top:235px;
	left:590px;
}
.related-serv-T .part .t{color:#f6f6f6;font-size:52.4px;}
.related-serv-T .part .des{margin-top:4px;color:#f6f6f6;font-size:26px;}
.related-serv-two{
	height:828px;
	background:url("../images/services-bg-2.jpg") no-repeat center top;
}
.related-serv-list{margin-left:-90px;} 
.related-serv-list li{
	float:left;
	width:232px;
	text-align:center;
	margin-left:90px;
	margin-bottom:60px;
}
.related-serv-list li .picB{
	width:232px;
	height:210px;
	background-image:url("../images/services-ico-box.png");
	background-repeat:no-repeat;	
}

.related-serv-list .item-0 .picB{background-position:20px 0px;}
.related-serv-list .item-1 .picB{background-position:-295px 0px;}
.related-serv-list .item-2 .picB{background-position:-622px 0px;}
.related-serv-list .item-3 .picB{background-position:-948px 0px;}
.related-serv-list .item-4 .picB{background-position:20px -375px;}
.related-serv-list .item-5 .picB{background-position:-295px -375px;}
.related-serv-list .item-6 .picB{background-position:-622px -375px;}


.related-serv-list li .btm{padding-top:18px;}
.related-serv-list li .btm .t{margin-bottom:12px;color:#7fb0ef;font-size:19px;}
.related-serv-list li .btm .des{
	color:#6d6d6d;
	font-size:12px;
	line-height:18px;
}


.process-T .daohang a:hover{color:#787878 !important;}
.process-T .daohang .my_nav div:hover a {
color: #787878; 
} 
.process-T .daohang .my_nav div:hover a {
background: #fff; 
} 
.process-T .daohang li a:hover{color:#787878 !important;}


.process-T{height:85px;}
.process-T .daohang{margin-top:28px;}
.process-T .daohang a{color:#787878 !important;}
.process-T .daohang li a.yj{border:2px solid #787878;}
.process-mT{
	position:relative;
	height:571px;
	background:url("../images/process-bg1.jpg") no-repeat center top;
	/*background-size:100% auto;*/
}
.process-mT .car-buy-btn{
	position:absolute;
	display:block;
	width:270px;
	height:80px;
	top:471px;
	left:126px;
	text-align:center;
	line-height:80px;
	color:#FFF;
	font-size:35px;
	border-radius:20px;
	overflow:hidden;
}
.process-m2{
	background:#1d6bcf url("../images/process-bg2.jpg") no-repeat center top;
}
.easy-pro{
	padding-top:62px;
}
.easy-pro .T,.process-market .T,.pro-extend .T{text-align:center;}
.easy-pro .T .txt,.process-market .T .txt,.pro-extend .T .txt{color:#FFF;font-size:35px;}
.easy-pro .T .split,.process-market .T .split,.pro-extend .T .split{
	display:block;
	width:167px;
	height:7px;
	margin:12px auto 0px;
	background-color:#1d6bcf;
}
.easy-pro .mbox{
	position:relative;
	width:94%;
	height:749px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background:url("../images/process-num.png") no-repeat center top;
}
.easy-pro .mbox .Item{
	position:absolute;
	width:530px;
	color:#FFF;	
}
.easy-pro .mbox .Item dt{font-size:25px;}
.easy-pro .mbox .Item dd{margin-top:8px;font-size:14px;}
.easy-pro .mbox .Item.L{text-align:right;}
.easy-pro .mbox .Item.i-0{
	left:53%;
	top:0px;
}
.easy-pro .mbox .Item.i-1{
	left:0px;
	top:120px;
}
.easy-pro .mbox .Item.i-2{
	left:53%;
	top:240px;
}
.easy-pro .mbox .Item.i-3{
	left:0px;
	top:364px;
}
.easy-pro .mbox .Item.i-4{
	left:53%;
	top:478px;
}
.easy-pro .mbox .buy-car{color:#ff8c8c;}
.process-market .T .split{
	background:url("../images/process-split.png") no-repeat center top;
}
.market-adv-list{margin-top:100px; padding-bottom:60px;}
.market-adv-list li{margin-bottom:60px;}
.market-adv-item .picB{margin-left:100px;}
.market-adv-item .pic-des{
	width:480px;
	margin-left:80px;
	padding-top:90px;
	color:#FFF;
}
.market-adv-item.s-2 .pic-des{
	width:605px;
	margin-left:70px;
}
.market-adv-item.s-2 .picB{
	margin-left:80px;
}
.market-adv-item .pic-des .t{font-size:26px;}
.market-adv-item .pic-des .txt-b{margin-top:5px; line-height:20px;}
.market-adv-item.i-0 .pic-des{margin-top:62px;}
.market-adv-item.i-1 .pic-des{margin-top:56px;}
.market-adv-item.i-3 .pic-des{margin-top:42px;}

.market-adv-list li.i-4{margin-top:100px;}
.pro-extend{padding-bottom:90px;}
.pro-extend .T .split{background-color:#272727;}
.pro-extend-list{
	margin-top:125px;
	height:420px;
	background:url("../images/process-extend-bg.png") no-repeat 66% center;
}
.pro-extend-list .part-2{padding-top:50px; padding-left:165px;}
.pro-extend-item{float:left;width:300px;text-align:center;color:#FFF;}
.pro-extend-item .t{font-size:20px;}
.pro-extend-item .tdes{padding-top:18px;font-size:14px;}
.pro-extend-item .ico{
	display:block;
	width:92px;
	height:92px;
	margin:10px auto 0px;
	background-image:url("../images/pro-extend-ico-box.png");
	background-repeat:no-repeat;
}
.pro-extend-item.i-1 .ico{background-position:center -128px;}
.pro-extend-item.i-2 .ico{background-position:center -256px;}
.pro-extend-item.i-3 .ico{background-position:center -384px;}
.pro-extend-item.i-4 .ico{background-position:center -512px;}
.pro-extend-item.i-5 .ico{background-position:center -640px;}
.pro-extend-item.i-6 .ico{background-position:center -768px;}

.pro-qa-box .mid-block{width:1180px;}
.pro-qa-box .Top{text-align:center;padding-top:65px;}
.pro-qa-box .Top .ico{
	width:153px;
	height:140px;
	margin:0px auto;
	background:url("../images/pro-qa-ico.png") no-repeat center top;
}
.pro-qa-box .Top .t-t{padding:4px 0px 10px;color:#272727;font-size:35px;}
.pro-qa-box .Top .t-t a{color:#272727}
.pro-qa-box .Top .split{width:167px;height:7px;margin:0px auto;background-color:#1d6bcf;}
.pro-qa-list{margin-left:-95px;margin-top:62px;}
.pro-qa-list li{
	float:left;
	height:180px;
	margin-left:95px;
	overflow:hidden;
}
.pro-qa-list li .ask .ask-ico,.pro-qa-list li .ans .ans-ico{
	display:block;
	width:23px;
	height:23px;
	margin-right:6px;	
}
.pro-qa-list li .ans{margin-top:14px;}
.pro-qa-list li .ask .ask-ico{background:url("../images/pro-qa-ask.png") no-repeat center center;}
.pro-qa-list li .ans .ans-ico{background:url("../images/pro-qa-ans.png") no-repeat center center;}
.pro-qa-list li .ask .t-t{width:510px;color:#000000; font-size:16px;}
.pro-qa-list li .ans .des-txt{width:510px;color:#282828;font-size:14px;}
.pro-qa-all{padding-bottom:40px;text-align:center;}
.pro-qa-all .all-btn{
	display:inline-block;
	width:156px;
	height:30px;
	background:url("../images/pro-qa-all.png") no-repeat center center;
}

.car-check-T{
	position:relative;
	/*height:633px;*/
	background:url("../images/car_check-bg.jpg") repeat center top #191919;
	background-size:100% 100%;
	padding-bottom:100px;
}
.car-check-T .main-box{
	padding-top:145px;
	color:#FFF;
	text-align:center;
}
.car-check-T .main-box .t{margin-bottom:25px;font-size:40px;}
.car-check-T .main-box .des,.car-check-T .main-box .btm{font-size:20px;}
.car-check-T .main-box .btm{margin-top:38px;}
.car-check-ts{
	position:relative;
	height:11px;
	background-color:#1c6cd2;
}
.car-check-ts .tip-box{
	position:absolute;
	width:324px;
	height:60px;
	left:50%;
	margin-left:-162px;
	margin-top:-30px;
	background:url("../images/car_check_tt.png") no-repeat center center;
}
.car-check-info{
	padding-top:80px;
	padding-bottom:120px;
	text-align:center;
}
/*
.car-check-info .top-img{
	height:357px;
	background:url("../images/car_check_pic_1.png") no-repeat center center;
}
*/
.car-check-spl{
	display:inline-block;
	width:28px;
	height:52px;
	margin:0px auto;
	background:url("../images/car_check_spl.png") no-repeat center center;
}
.car-check-info img{max-width:1200px;}
.car-check-bot{background-color:#f4f4f4;}
.cck-bot-list{
	padding-top:28px;
	padding-bottom:48px;
	text-align:center;
}
.cck-bot-list a{margin-right:28px;color:#a0a0a0; font-size:14px;}


.car-gallery{
	display: none;
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:#191818;
	z-index:10000;
}
.pho-close{
	position: absolute;
	right: 20px;
	top:10px;
	color:#777;
	font-size: 28px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	z-index: 20000;
}



/*my_add*/
.my_logo_out{ width:1200px; position:relative; margin:0 auto;}
.my_logo{
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
}
.my_nav { float:left}
.my_nav div{position:relative}
.my_nav div a,.my_nav div li a:visited {
display: block; 
text-align: center; 
text-decoration: none;
width: 90px;
height: 28px;
color: #fff;
line-height: 28px;
font-size: 16px; 
} 
.my_nav div:hover a {
color: #0CF; 
} 
.my_nav div ul {
display: none; 
} 
.my_nav div:hover ul {
display: block; 
position: absolute; 
top: 28px; 
left: 0; 
width: 90px;
z-index:9999;
} 
.my_nav div:hover ul li{
	/*margin-bottom:10px;*/
	height: 25px;
	line-height: 25px;
}
.my_nav div:hover ul li a {
display: block; 
color: #fff;
/*border:2px solid #fff;
border-radius:20px;*/
font-size:14px;
 
} 
.my_nav div:hover ul li a:hover {
color: #0CF; 
} 


/**/
.thumb1 img{
	display:block;
	float:left;
	cursor:pointer;
	width:10%
}
.thumb1 img.curr{
	border:2px solid #FF6600;
	box-sizing:border-box;
}