@charset "utf-8";

#top{position:relative;width:100%;height:771px;}

.slideTop-box{
	position:absolute;
	width:100%;
	min-width:1200px;
	height:771px;
	left:0;
	top:0;
	z-index:1;
}
.slideTop{
	display:none;
	position:absolute;
	width:100%;	
	height:771px;
	left:0;
	top:0;
	z-index:1;
	/*background-size:100% auto !important;*/
}
.itemT{display:block;width:100%;height:5px;position:absolute;z-index:124;top:660px;left:0;text-align:center;}
.itemT li{display:inline-block;width:24px;height:5px;margin-right:11px;background:#333;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);overflow:hidden; cursor:pointer;}
.itemT li.on{background:#fff;}

.prevT,.nextT{display:block;width:44px;height:44px;position:absolute;z-index:222;top:267px;overflow:hidden;cursor:pointer;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);_border:1px solid none;}
.prevT{left:70px;}
.nextT{right:70px;}
.prevT:hover,.nextT:hover{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}