@charset "utf-8";

/*我的订单*/
.my_logo{
	top:10px;
}
.my-order{padding-top: 20px;}
.usc-menu{
    float: left;
    width: 250px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 16px;
    background-color: #FFF;
}
.usc-menu-item{margin-bottom: 26px;}
.usc-menu-item dt{margin-bottom:16px;color:#2e2e2e;font-size: 18px;}
.usc-menu-item dd{line-height: 36px;padding-left: 7px;}
.usc-menu-item dd a{color:#474747;font-size: 14px;}
.usc-menu-item dd a:hover{color:#1f6fd4;}

.usc-Rbox{
    float: right;
    width: 924px;
    background-color: #FFF;
}
.usc-Rbox.bgc-transparent{background-color: transparent;}
.usc-u-info{background-color:#FFF;padding-bottom: 10px;}
.ac-msg{
    position:relative;
    display: table;
    margin: 0px auto;
    text-align: center;
}
.ac-msg .u-t{margin-bottom:14px;color:#1a1a1a;font-size: 18px;}
.ac-msg .u-t .hello{color:#fd8200;margin-left: 3px;}
.ac-msg .upic{
    display: block;
    position: absolute;
    width: 129px;
    height: 129px;
    /*left: -150px;*/
    left: 0px;
    top:50%;
    margin-top: -64.5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
}
.usc-u-info .TopMsg{padding: 64px 0px;}
.ac-msg .acc-has{color:#353535;font-size: 14px;}
.ac-msg .acc-has .num{color:#bc0000;font-size: 24px;}
.ac-msg .recharge{color:#757272;font-size: 12px;}
.ac-msg .recharge:hover{color:#1f6fd4;}
.ac-msg .col{float: left;width: 150px;height: 1px;}

.usc-cfg-box{display:table;color:#474747;font-size: 14px;margin: 0px auto;}
.usc-cfg-box .item{
    float: left;
    width: 164px;
    line-height: 20px;
    text-align: center;
    border-right: 1px solid #dedede;
}
.usc-cfg-box .item.addr{border-right: none;}
.usc-cfg-box .item .txt{
    position: relative;
    padding-left: 21px;
    color:#474747;
}
.usc-cfg-box .item .txt:hover{color:#1f6fd4;}
.usc-cfg-box .item i{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 20px;
    left: 0;
    top:50%;
    margin-top: -10px;
    background-image: url("../images/usc-box-ico-1.png");
    background-repeat: no-repeat;
}
.usc-cfg-box .eamil i{background-position: 0px 5px;}
.usc-cfg-box .phone i{background-position: 0px -22px;}
.usc-cfg-box .addr i{background-position: 0px -50px;}

.myOrder-contain{
    margin-top:14px;
    padding-left:24px;
    padding-right:24px;
    padding-bottom: 46px;
    background-color:#FFF;
}
.myOrder-contain h3{
    padding: 22px 0px 30px;
    color:#000000;
    font-size: 24px;
}
.myOrder-menu-box .Item{
    float: left;
    line-height: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    border-right: 1px solid #dedede;
}
.myOrder-menu-box .Item:first-child{padding-left: 0px;}
.myOrder-menu-box .Item a{color:#838383;}
.myOrder-menu-box .Item.active a,.myOrder-menu-box .Item.active:hover a{color:#fd8200;}
.myOrder-menu-box .Item:hover a{color:#1f6fd4;}
.myOrder-cTb{
    width: 100%;
    color:#252525;
    font-size: 14px;
}
.myOrder-cTb thead tr{background-color: #eeeeee;}
.myOrder-cTb thead tr td{height: 31px;}
.myOrder-cTb tr .td-1{
    width: 121px;
}
.myOrder-cTb tbody td{padding: 21px 0px;}
.myOrder-cTb tr.itm-1 td{padding-bottom: 0px;}
.myOrder-cTb tr.itm-2{border-bottom: 1px solid #e7e7e7;}
.myOrder-cTb .picB{
    display: block;
    width: 121px;
    height: 121px;
    text-align: center;
    line-height: 121px;
    overflow: hidden;
}
.myOrder-cTb .order-time,.myOrder-cTb .pay-status{
    color:#777777;
    font-size: 14px;
}
.myOrder-cTb .pay-status{margin-left: 40px;margin-right: 6px;}
.myOrder-cTb .book-time{color:#fd8a11;font-size: 14px;}
.myOrder-cTb .style-1{color:#3b3b3b;font-size:16px;}
.myOrder-cTb .deposit{color:#777777;}
.myOrder-cTb .deposit .tip{color:#f61117;font-size: 14px;}
.myOrder-cTb .deposit .flag{font-size: 24px;}
.myOrder-cTb .deposit .pri{font-size: 30px;}
.myOrder-cTb .deposit .pri .num{color:#fd8200;font-size: 30px;}
.myOrder-dtl-btn{
    display: block;
    width: 122px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color:#5b5b5b;
    font-size: 14px;
    background-color: #FFF;
    border:1px solid #9b9b9b;
}
.myOrder-dtl-btn:hover{color:#FFF;background-color: #fd8200;border:1px solid transparent;}
.myOrder-cTb .myOrder-dtl-btn{margin-top: 21px;}

/*订单详情弹出框*/
.myOrder-dtl-mask{
    position: fixed;
    width: 605px;
    height: 277px;
    left:50%;
    top:50%;
    margin-left: -302.5px;
    margin-top: -138.5px;
    background-color: #FFF;
    border:6px solid #8b8b8b;
    z-index: 999;
}
.myOrder-dtl-mask .close-btn{
    position: absolute;
    right: 12px;
    top:12px;
    width: 14px;
    height: 14px;
    text-index:-999px;
    background: url("../images/close-btn-1.png") no-repeat center center;
    cursor: pointer;
}
.myOrder-dtl-mask .Top{padding: 8px 0px; border-bottom: 1px solid #e5e5e5;}
.myOrder-dtl-mask .Top .t-menu{line-height: 35px;font-size:15px;}
.myOrder-dtl-mask .Top .t-menu li{
    position: relative;
    float: left;
    width: 130px;
    padding-left: 14px;
}
.myOrder-dtl-mask .Top .t-menu li .txt-b{
    padding: 8px 24px;
    color:#2d2d2d;
    border-radius: 5px;
}
.myOrder-dtl-mask .Top .t-menu li .txt-b.active{
    color:#FFF;
    background-color: #1f6fd4;
}
.myOrder-dtl-mask .Top .t-menu li .split{
    position: absolute;
    display: block;
    width: 10px;
    height: 14px;
    top:50%;
    right: 0px;
    margin-top: -7px;
    background: url("../images/usc-order-step-ico.png") no-repeat center center;
}
.Order-dtl-mask-main .pay-item{
    line-height: 28px;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 16px;
}
.Order-dtl-mask-main .pay-item .status-b{color:#5c5c5c;font-size: 15px;}
.Order-dtl-mask-main .pay-item .warm-tip{color:#8e8e8e;font-size: 13px;}
.Order-dtl-mask-main .pay-item .warm-tip .feedback{color:#1f6fd4;}
.Order-dtl-mask-main .x-info h3{
    padding-left: 30px;
    padding-bottom: 8px;
    color:#2d2d2d;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.Order-dtl-mask-main .x-info .mc-info{
    padding-left: 30px;
    padding-top: 5px;
    color:#8e8e8e;
    font-size: 13px;
}
.Order-dtl-mask-main .x-info .mc-info .i-item{
    padding: 8px 0px;
}