@charset "utf-8";
/* slider-container */
.mid-block2 .slider-container{height:700px;overflow:hidden;position:relative}
.mid-block2 .main-slider{width:100%;height:100%;position:relative;overflow:hidden}
.mid-block2 .slide-item{min-width:996px;width:100%;position:absolute;left:0;top:0;display:none}
.mid-block2 .slide-item img{width:100%;height:auto;min-height:320px}
.mid-block2 .slide-cont{position:absolute;left:50%;top:0;width:970px;margin-left:-485px;text-shadow:1px 1px 1px #111}
.mid-block2 .slide-cont{font-size:19px;color:#fff}
.mid-block2 .slide-cont h1{font-size:47px;font-weight:normal;color:#ffcf01;line-height:47px;margin-top:1.2em}
.mid-block2 .slide-cont h1 span{font-size:30px;text-transform:uppercase}
.mid-block2 .slide-cont a{color:#fff;font-size:14px;text-decoration:none;text-transform:uppercase;background:url(../images/icon_nav.png) no-repeat 100% 50%;padding-right:16px}
.mid-block2 .thumbs{position:absolute;left:0;bottom:0;z-index:4;width:100%;height:82px;margin:0;padding:0; background:#fff; padding-top:3px;}
.mid-block2 .thumbs li{float:left;list-style:none;position:relative;width:10%;*width:19.99%;height:80px;background-repeat:no-repeat;background-position:50% 0;background-size:100%}



.mid-block2 .thumbs li.curr,.thumbs li:hover{ /*border:1% solid #FF6600*/box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */ border:2px solid #3c3c3c}
.mid-block2 .thumbs li div{height:82px;}
.mid-block2 .thumbs li.curr i,.thumbs li:hover i{display:block}
.mid-block2 .thumbs li span{display:block;margin:0 18px;padding:10px 30px 0;height:56px;font-size:12px;color:#fff;text-transform:uppercase}
.mid-block2 .thumbs li.curr span,.thumbs li:hover span{background-image:url(../images/nav_bottom_bg_1.png)}